[2019-08-03 17:15] dhruvkb opened #2 "Expand icon prop"
Currently the `icon`, `iconList` and `iconSet` props in many components accept just a `String` that is automatically mapped to the `fas` subset of FontAwesome icons.

Any deviation from this icon set must be achieved by populating the respective add-on slot housing the icon. This can get cumbersome and unnecessarily verbose.

A viable alternative would be to allow passing each icon either as a `St

[2019-08-03 18:01] dhruvkb opened #3 "Merge isBasic and isGhost into simplicity prop"
Currently the simplicity of any component is governed by two `Boolean` props, namely `isBasic` and `isGhost` provided by the `Simplifiable` mixin.

Having two `Boolean`s governing one aspect of a component is never ideal, much less so when the ghost style is a superset of the basic style. Having a component with the `isGhost` prop set to `true` and the `isBasic` prop unset and defaulting to `false

[2019-08-03 18:07] dhruvkb opened #4 "Increase test coverage"
Currently only one or two components have test coverage. This is abysmal, but hopefully understandable given the time-constrained nature of the Summer of Code program under which the library was developed.

This inadequate test coverage has prevented new features from being developed freely because of the looming fear of unknowingly breaking functionality somewhere down the line. The solution is t

[2019-08-03 18:13] dhruvkb opened #5 "Set up continuous deployment"
Currently Vocabulary is being manually pushed to `npm`. This can be automated with CircleCI so that it can automatically build and publish the package once all tests pass successfully.

Best way to do this is to use some mechanism on Github Actions to detect when a new *tag* is pushed and trigger the run the [deploy script](https://github.com/creativecommons/vocabulary/blob/master/deploy.sh). It c

[2019-08-03 19:33] dhruvkb opened #6 "Set up a component playground experience"
A long text file is a poor way to show all variants of a component. Especially given that all these variants can also be applied simultaneously in any permutation.

An interactive playground where toggles can be turned on/off and variants can be chosen from a list of checkboxes would make it easy to mix and match and overlay variations.

This is offered to some extent by [Storybook](https://storyb

[2019-08-03 19:42] dhruvkb opened #7 "Addition of missing components"
While Vocabulary has a sizeable collection of components now, it is still far far away from being exhaustive. There are tons of components that need to be developed and this issue will serve to keep a track of components that have been proposed and are being worked on.

This is a discussion thread that will mark all components that have been requested by the community of users.

To request a compo

[2019-08-03 19:46] dhruvkb commented on #7
- [ ] Slider

The slider could be single value or range selector.

References:
- [Carbon Design System](https://www.carbondesignsystem.com/components/slider/code)
- [Ant Design](https://ant.design/components/slider/)

[2019-08-06 06:51] dhruvkb opened #8 "Use color palettes for shadows in raised style"
Currently in a lot of places, the `box-shadow` color is set to `$color-tone-near-white` which looks stunning on white backgrounds but not so much on black backgrounds.

This can be reproduced by replacing the hardcoded color value with a CSS variable using the color palette architecture used in the components.

The shadow should be `$color-tone-near-white` on white/light background and `$color-ton

[2019-08-06 09:28] dhruvkb opened #9 "Integrate emoji with the library"
Emoji can only improve an app or library. There is currently no emoji support leading to inconsistent output across browsers.

The simplest example is this different output.

Browser | Font | Character | Rendered
-|-|-|-
Chrome | Noto Emoji | US flag | Yes
Chrome | Noto Emoji | IN flag | No
Chrome | Noto Emoji | BR flag | No
Firefox | Twemoji | US flag | Yes
Firefox | Twemoji | IN flag | Yes
Firef

[2019-08-08 08:05] dhruvkb opened #10 "Integrate website and styleguide"
Vocabulary has two front ends, a website built using the components developed inside Vocabulary itself and a styleguide showcasing these components.

Currently the styleguide is being pushed to GitHub pages and is seen at the [link](https://creativecommons.github.io/cc-vocabulary). This behaviour should be changed so as to display the website on the given URL and the styleguide at `/styleguide`.

[2019-08-12 03:19] dhruvkb commented on #6
A part of this interface can be an interactive color and shade experience, that allows the user to select colors and shades using `SelectField`s and toggle inverted mode using a `SwitchField`.

Something along these lines has been implemented in [the documentation for the `Header`](https://opensource.creativecommons.org/cc-vocabulary/#!/Header).

[2019-08-16 07:55] dhruvkb commented on #7
- [ ] Label/Tag/Chip

The tag should also have a price-tag appearance variant.

References:
- [Material Design](https://material.io/design/components/chips.html)
- [Semantic UI](https://semantic-ui.com/elements/label.html)

[2019-08-19 14:19] dhruvkb opened #11 "Trail malfunctions with long text in the crumbs"
The `Trail` component breaks down when the text in a `TrailCrumb` instance is too long. The crumbs should wrap, scroll or nest.

To reproduce, just create a `Trail` with a very long `TrailCrumb` child.

Here is an example of a broken `Trail`.
![image](https://user-images.githubusercontent.com/16580576/63272632-0b409c00-c2ba-11e9-8075-d6baeae05353.png)

[2019-08-22 19:24] dhruvkb opened #12 "Organise files in dist directory"
Currently all files produced by the `build:library` task are poured directly in the `dist/` directory without any hierarchy or organisation. This causes a lot of clutter and confusion. The goal is to devise a simple folder structure so that the build output is easier to understand and maintain.

[2019-08-22 19:58] dhruvkb commented on #10
This has been accomplished in ad33063.

[2019-08-22 19:58] #10 closed

[2019-08-23 03:58] dhruvkb opened #13 "Check and remedy a11y shortcomings"
As a library of components with far-reaching scope of use, accessibility is an important aspect of the project that has unfortunately been overlooked due to the time-bound nature of the project's inception under GSoC program.

The goal is to develop a system to validate every components compliance with various accessibility guidelines. Storybooks does have an [a11y addon](https://www.npmjs.com/pac

[2019-08-24 04:45] dhruvkb commented on #8
This has been addressed with dddbc66.

[2019-08-24 04:45] #8 closed

[2019-08-24 05:07] dhruvkb opened #14 "Increase DRY-ness in documentation code examples"
Many examples of code in the documentation, notably for the colours and shades, resort to manually writing examples for every colour and shade. This is a very terrible approach, one that will inevitably lead to hassles when updates are required.

A simpl improvement to this approach would be to use arrays, dictionaries and `v-for` to programatically generate `GridCell`s. An alternative more intens

[2019-08-24 06:21] dhruvkb commented on #11
This has been addressed in fd3bae0.

[2019-08-24 06:21] #11 closed

[2019-08-24 08:54] dhruvkb commented on #7
Referencing [comment](https://github.com/creativecommons/cc-vocabulary/issues/7#issuecomment-517949893), the `InputField` offers `type="range"` providing for a single value slider. The double value slider remains to be developed.

[2019-08-27 07:29] dhruvkb opened #15 "Setup infrastructure for RTL layouts"
Currently Vocabulary has been designed only with left-to-right layouts in mind. While this is acceptable for most languages, a number of languages, notably Arabic, are written right-to-left (RTL).

Support for RTL layouts is a crucial part of internationalisation and cannot be overlooked. The goal is to incorporate support for RTL layouts into the framework integrated with Vue-i18n so as to automa

[2019-08-27 09:49] dhruvkb opened #16 "Navigation should support multiple levels"
Currently the component `Navigation` and it's children `NavigationLink`s only support single level navigation. This is quite restrictive because a number of sites, particulary those of Creative Commons, do have multi-level navigation.

The goal is to make it so that `NavigationLink`s be capable of being nested, leading to a navigation tree structure instead of a list.

[2019-08-29 04:37] dhruvkb opened #17 "Navigation looks ugly when more links than width"
The `Navigation` components looks quite terrible when the number of `NavigationLink` children are more than the screen can handle. This can be seen by increasing the number of links in the navigation to a large number and is particularly easy to spot on tablets in portrait orientation.

Designing a better navigation bar is a pressing concern, in light of #16.

![image](https://user-images.githubus

[2019-08-30 01:43] dhruvkb commented on #6
As Storybook comes closer and closer to providing the features afforded by Styleguidist, and then more of its own, it has been added to the project as of d3b8612 and can be seen at [this link](https://creativecommons.github.io/cc-vocabulary/storybook). Work remains on adding components to this Storybook and documenting their common and edge cases.

[2019-08-31 04:08] dhruvkb opened #18 "Add a rounded and pill variant for SwitchField"
The `SwitchField` component currently lacks a rounded and pill variant. The goal is to add these variants in order to make the component aesthetically compatible with more curved and rounded layouts.

[2019-08-31 05:23] dhruvkb opened #19 "ChoiceField broken on iOS"
The `ChoiceField` component CSS is broken on iOS 12.

![image](https://i.imgur.com/132pEuu.jpg)

This screenshot of the styleguide was taken on Safari on iOS 12.4.

[2019-08-31 07:47] dhruvkb commented on #19
This has been addressed in 2574cbc.

[2019-08-31 07:47] #19 closed

[2019-08-31 07:57] dhruvkb commented on #18
The pill variant for the `SwitchField` has been implemented in 2d729b9.

[2019-08-31 07:57] #18 closed

[2019-09-03 09:22] dhruvkb commented on #13
The a11y addon for Storybook has been added in 609395d.

[2019-09-04 05:28] dhruvkb commented on #5
Add 'Setting up [GitHub Actions](https://github.com/features/actions)' to the list of things to do under this issue.

[2019-09-05 02:39] dhruvkb commented on #12
This has been addressed in commit 56bb00f.

[2019-09-05 02:39] #12 closed

[2019-09-05 02:53] dhruvkb opened #20 "Unify isRounded and isPill under roundness prop"
Currently the roundness of any component is governed by two `Boolean` props, namely `isRounded` and `isPill` provided by the `Roundable` mixin.

Having two `Boolean`s governing one aspect of a component is never ideal, much less so when the pill and rounded styles are just varying intensities of the same property.

A better approach to this is to have a `String` prop `roundness` in the mixin that

[2019-09-05 03:31] akmadian opened #21 "Popovers/ tooltips for LicenseIconography Icons"
**Describe the feature**
I think it could be useful to allow [popovers](https://getbootstrap.com/docs/4.0/components/popovers/) when hovering on the LicenseIconography icons! This could be enabled with a prop. I also think it would be a good idea to allow users to pass the contents of the popover for each icon with some object as a prop for more customization as well.

I think that something like

[2019-09-05 07:56] akmadian commented on #21
This is a bit of a tack on, but it would be nice to be able to set the icon size with a prop as well. Being able to pass some number of px, em, rem, %, or whatever would be great!

[2019-09-05 11:00] dhruvkb commented on #21
@akmadian The icons take the font size of the containing element so putting them in a `<span>` and setting the `font-size` via a CSS directive is the cleanest, sanest approach.

[2019-09-05 11:37] dhruvkb commented on #7
- [ ] Popup/Tooltip

The popup must have a choice of opening direction. Attention must be paid to the slight difference between a popover and a tooltip in terms of interactivity.

References:
- [Ant Design](https://ant.design/components/popover/)
- [Semantic UI](https://semantic-ui.com/modules/popup.html)

[2019-09-05 11:44] dhruvkb opened #22 "Develop a programmatic API to access tokens"
A programmatic API to access and deal with tokens would be very beneficial.

Currently tokens are shipped as Stylus and SCSS variables as well as a JSON data file. This means any manipulation of the tokens, such as that performed in the token showcasing components, must be performed by parsing the JSON and going over all filters over and over again.

The API for colors, to begin with, could make i

[2019-09-05 12:46] dhruvkb opened #23 "Convert the colors to an HSL-based implementation"
Currently all our of [color tokens](https://opensource.creativecommons.org/cc-vocabulary/styleguide/#/Tokens/Colors) are defined as fixed [hexadecimal values](https://github.com/creativecommons/cc-vocabulary/blob/master/src/tokens/color.yml) taken from a [Wiki entry](https://wiki.creativecommons.org/wiki/Colors) written all the way back in 2014.

Hex values are notoriously human unreadable and are

[2019-09-06 06:42] dhruvkb opened #24 "Unify control dimensions"
Currently controls have been independently styled and are therefore very disparate in terms of their dimensions. So placing these components adjacent to each other leads to a bad look. The goal is to ensure that components have consistent dimensions, mainly heights but also, if possible, widths.

[2019-09-06 07:04] dhruvkb opened #25 "Create simple and simpler variants for SwitchField"
Most components have a default version and two simplified versions, namely `slight`ly simple and `extreme`ly simple. The SwitchField is one that does not have these variants. The goal is to develop them.

[2019-09-06 07:51] dhruvkb commented on #25
To be fair, a lot of components have little stylistic diversity. Expanding the issue to list and discuss these components.

[2019-09-07 06:49] dhruvkb opened #26 "Make Vocabulary robot-friendly"
Vocabulary currently has no meta tags for SEO and for rich-snippets in social media posts. The goal is to add meta tags for the homepage, storybook and styleguide. This has some negative impact as it makes sharing the URL to the project unappealing.

[2019-09-09 07:09] dhruvkb opened #27 "Write locale to and read locale from browser storage"
Currently locale change is restricted to current page. As soon as page reloads, locale reverts to the default, which is 'en'.

**Describe the steps to reproduce the bug**
1. Open an page powered by Vocabulary.
1. Change locale.
1. Navigate to a different page.

The locale is supposed to remain the chosen one. But it reverts to the default one. This is because the locale is never given any form of

[2019-09-09 18:27] dhruvkb commented on #26
This has been implemented, to some extent, by commit 19f0f91. This means that the root documentation site has meta information. Work remains on adding this information to the storybook and the styleguide.

[2019-09-09 18:29] dhruvkb commented on #3
This has been addressed by 16350b1.

[2019-09-09 18:29] #3 closed

[2019-09-09 18:29] dhruvkb commented on #20
This has been addressed by 16350b1.

[2019-09-09 18:29] #20 closed

[2019-09-12 13:16] dhruvkb opened #28 "Use margins for better alignment in the Header component"
Currently the `Header` component uses a weird combination of flex grow and shrink to position elements in a split layout. However MDN suggests a cleaner way under the section 'Alignment and auto margins' in [this article](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Alignment/Box_Alignment_in_Flexbox).

Using this approach will greatly increase the code quality and remove a lot of assu

[2019-09-24 20:05] mansivx commented on #27
Hi! Can I work on this?
I know javascript but just started learning vue.
This seems doable, not too complex or framework specific.

[2019-09-25 13:37] dhruvkb commented on #27
Sure, go ahead! Make sure that the code is integrated into the library and _not_ dependent on the parent application.

[2019-10-01 05:18] dhruvkb commented on #14
Reopening as it was a partial fix.

[2019-10-01 06:23] dhruvkb commented on #26
PR #35 adds meta tags to the storybook. Only the styleguide remains to be made SEO optimised.

[2019-10-01 06:30] dhruvkb commented on #6
Storybook 5.2.0 [adds](https://git.io/JenaN) support for :books: DocsPage and :framed_picture: Design System. This is relevant because it means Storybook is officially in Styleguidist territory.

[2019-10-01 10:06] xumisyou commented on #5
no

[2019-10-01 19:46] sabina-rohman commented on #2
Hi I am a Outreachy Fall 2019 applicant. I would like to work on this issue. Can you please assign it to me?

[2019-10-02 09:31] cthomas88 commented on #23
Could I please be considered to assist with this issue? If so, I would like to ask further questions please. Kind regards Carlie, Outreachy Intern, UK

[2019-10-02 13:13] dhruvkb commented on #2
Sure. Take it up!

[2019-10-02 13:14] dhruvkb commented on #23
Sure, feel free to take it up!

[2019-10-02 14:42] ifylala commented on #6
I am Ify an Outreachy Intern, I would like to resolve this issue. kindly assign it to me.

[2019-10-02 14:50] bax-uva commented on #28
Hello, I'm an Outreachy applicant. Can I work on this issue?

[2019-10-02 15:16] mouracamila commented on #17
I'd like to work on that issue

[2019-10-02 15:57] dhruvkb commented on #17
Sure go ahead!

[2019-10-02 15:57] dhruvkb commented on #28
Yeah sure, go ahead!

[2019-10-02 21:38] rashadmad commented on #13
I want to put my name down for this and am looking for clearer understanding. I have some experience with travis CI maybe we can set up a check that makes sure that future contributions are meeting a11y standards for future deployments. New documentation will need to be created to let developers know about the standards that need to be met for new changes. Its one thing to make the site assessable

[2019-10-02 21:59] HAMZABoxer98 commented on #4
Hi @dhruvkb 😄 , I am from Outreachy and I want to practice more on Testing... currently I am working on CC license chooser, can I work on this one too ?
I am new to the testing world, so it would be a pleasure for me if I send you a PR after each component, so you can review my test ^_^.
I have a free time, so I can provide a full test coverage.

[2019-10-02 22:19] dhruvkb commented on #13
Sure @rashadmad, you can start studying the addon and a11y standards. While Travis CI and new documentation are necessary, it would be better to address them in other issues. This issue is specifically to improve the accessibility of existing components.

[2019-10-02 22:21] dhruvkb commented on #5
Also adding the need to test code style with `lint` and also test code accessibility with suitable tooling as suggested in #13.

[2019-10-02 22:24] dhruvkb commented on #27
@Pilgrim001, it seems this issue is not being worked on. Your PR will be ready to go once https://github.com/creativecommons/cc-vocabulary/pull/31#issuecomment-536979930 is addressed.

[2019-10-02 22:42] rashadmad commented on #13
So the main thing to do here is make vocabulary a11y?

[2019-10-03 00:46] rashadmad commented on #13
I am new to Vue and some of the terms here confused me. Could you explain to me what a storybook is and can you be more descriptive about what a component is. I am already teaching my self Vue. I have experience with ruby on rails and JavaScript. I think I can get familiar with it by monday. I think that I can still do the card with my experience. Do you think that I will be alright.

[2019-10-03 01:26] dhruvkb commented on #13
Storybook is a tool we use to visualise variations of a component. You can learn more about Storybook from their [website](https://storybook.js.org/) and docs. Our storybook is deployed [here](https://creativecommons.github.io/cc-vocabulary/storybook) and you can check it out to see what it is in action.

A component is any independently functional part of a web app such as a button, or a card for

[2019-10-03 01:31] dhruvkb commented on #23
@cthomas88 It would be worth pointing out that this is a long-term, discussion-based and maintenance-chore issue and as much might not be as rewarding for Outreachy as other issues labelled [`good-first-issue`](https://github.com/creativecommons/cc-vocabulary/labels/good%20first%20issue).

[2019-10-03 01:32] dhruvkb commented on #17
@mouracamila Since this is a `discussion: rfc` issue, it would be preferable that you present your idea about a potential fix first and get it ratified before coding right away.

[2019-10-03 01:37] dhruvkb commented on #6
@ifylala I should point out that this is a long-term issue and thus you should either break it down into smaller logical parts before getting to coding. Also from the point of view of your Outreachy application and your newness to the codebase, you should check out [`good-first-issue`](https://github.com/creativecommons/cc-vocabulary/labels/good%20first%20issue) to get familiar with the code.

[2019-10-03 01:45] dhruvkb commented on #4
Sure @HAMZABoxer98 one PR per component sounds well. Make sure every component is tested for these aspects:

- [ ] Existence of DOM elements (Whether the component renders the correct HTML tag)
- [ ] DOM action events (Whether clicking or typing raises the apt `@click` or `@input` event)
- [ ] Accessing Vue wrapper properties (Whether data and computed properties are calculated correctly)
- [ ] Mo

[2019-10-03 05:02] hdrdla commented on #26
Hi, I am an Outreachy applicant. May I be assigned this issue?

[2019-10-03 09:17] deboragaleano commented on #14
Hi, I'm an Outreachy applicant. I see that this issue is still open. Could I try to work on it as a first issue? Thank you!

[2019-10-03 10:04] deboragaleano commented on #22
Hi, I'm an Outreachy applicant and would like to work on this issue, if possible. Thanks!

[2019-10-03 15:39] dhruvkb commented on #22
Since this is a discussion-based issue you should ideally describe your solution and implementation before coding right away. Other than that, you’re welcome to get started!

[2019-10-03 15:41] dhruvkb commented on #14
Sure, submit separate PRs for every component whose documentation you make DRY-er. See #33 and #34 for reference.

[2019-10-03 20:49] loranazarenko commented on #25
Hi, I'm an Outreachy applicant. I would like to work on this issue, if possible, I don’t know Vue, but I studied a

bit of javascript.

[2019-10-04 07:33] dhruvkb commented on #25
Sure, go ahead! Feel free to communicate on Slack if you need any help getting started with Vue.

[2019-10-04 18:38] deboragaleano commented on #14
So sorry but I won't be able to work on this issue in the end, I should leave it to another applicant. Thank you!

[2019-10-04 23:11] MysticNas commented on #28
hey, im an outreachy applicant id like to make my first contribution.

Can I work on it as well?

[2019-10-05 03:40] dhruvkb commented on #28
Sorry @MysticNas, this issue is already being worked on by @bax-uva. There are a number of other issues that you can work on.

[2019-10-05 04:26] dhruvkb opened #37 "Use service to serve documentation"
Instead of having a `docs/` directory in the codebase that must be manually updated by running
[code]
we should use a service such as [Zeit](https://zeit.co/) or [Netlify](https://www.netlify.com/) to continuously build and serve the docs whenever new commits are pushed to the branch `master`.

[2019-10-05 10:39] HAMZABoxer98 commented on #37
@dhruvkb , check this:
https://5d98717840eaac430b8bc2e2--hungry-lamport-e429e3.netlify.com/
I deployed the styleguide, do you want to link it with custom domain ?

[2019-10-05 14:51] MysticNas commented on #24
Hey ! I d like to work on this one. Hopefully it could be my first contribution as an outreachy applicant?

[2019-10-05 17:23] SamOdum commented on #9
Hello @dhruvkb , I am an Outreachy applicant and I would love to work on this issue. But first, I would love to talk to you about it. Is that OK?

[2019-10-05 23:08] loranazarenko commented on #25
I think these fields are:
Shield
Paragraph
LicenseIconography
ChoiceField
Heading
have a small selection of styles. I think soon i will load PR.

[2019-10-06 20:25] rashadmad commented on #16
I was a bit confused by this issue-https://github.com/creativecommons/cc-vocabulary/issues/13 and wanted the opportunity to complete another issue first(that is easier) Can I be put down for this issue?

[2019-10-07 14:54] mouracamila commented on #17
@dhruvkb, I suggest, could are created the "menu hamburguer":
- When there are more than 2 items in navigationLink
- When the resolution is less than 700px (approximate resolution with iPad).
What do you think?

[2019-10-07 15:20] mouracamila commented on #17
@dhruvkb I think it would be interesting to create another header model. It could have the "menu collapse", for more "NavigationLink". In which would be a user choice which heading would best suit their needs. What do you think?

[2019-10-07 21:40] HAMZABoxer98 commented on #27
why this issue is still open ? seems that it is solved !.

[2019-10-07 22:16] MysticNas commented on #9
Hey, @dhruvkb, id like to give it a go ! is it ok?

thanks

[2019-10-07 22:18] MysticNas commented on #24
hey dhruvkb ! I haven t heard from you yet; can I PR it?  thank you

[2019-10-07 22:24] HAMZABoxer98 commented on #15
Arabic, Hebrew and Persian are RTL languages, I have a good knowledge about RTL essentials.. so I would work on this.
but I think we should make a discussion first.

[2019-10-09 16:50] Eniola4031 commented on #22
Hello, I am an outreachy applicant. Can this issue be solved with php?

[2019-10-09 17:03] MysticNas commented on #24
@dhruvkb? ...

[2019-10-09 17:04] kgodey commented on #24
I believe @dhruvkb is traveling. @hugosolar maybe you could weigh in?

[2019-10-09 17:10] MysticNas commented on #24
Thanks for replying to me. If @hugosolar could lead me into this issue , that d be great.

Thanks again @kgodey

[2019-10-09 17:18] Eniola4031 commented on #14
Hello, I am interested in working on the issue.

[2019-10-10 01:49] dhruvkb commented on #25
It would be nice if you could send in some mockups or screenshots of your new styles before submitting the code.

[2019-10-10 01:51] dhruvkb commented on #16
Okay, go ahead with this. Do submit your designs as an idea first so that we may lock down on usability before implementing it in code.

[2019-10-10 13:09] dhruvkb commented on #14
@Eniola4031, you're welcome to take this up!

[2019-10-10 13:10] dhruvkb commented on #24
@MysticNas sorry for not replying for so long, you're welcome to work on this. In fact, as a general rule of FOSS, unless someone is already working on an issue and your work would override theirs, you're always invited to contribute.

[2019-10-10 13:17] dhruvkb commented on #15
@HAMZABoxer98 you surely are suited for this task! Feel free to initiate a discussion on the technology we would need to implement this.

[2019-10-10 13:18] dhruvkb commented on #9
@SamOdum feel free to talk here or on Slack. @MysticNas I have already assigned #24 to you.

[2019-10-10 13:21] dhruvkb commented on #17
@mouracamila the `Header` component is not related to this issue. The component `Header` contains a `slot` that can be populated by any component or DOM, which is generally the `Navigation` component. The styling for the `Navigation` component needs to be updated to accommodate a large number of `NavigationLink` components.

[2019-10-10 13:23] dhruvkb commented on #17
Most popularly the hamburger menu is a staple of mobile screens. I haven't come across many sites that use the hamburger on tablet-sized resolutions. Are there any references that I could see for hamburger-menus on tablets?

[2019-10-10 13:24] dhruvkb commented on #27
@HAMZABoxer98 as of right now, this has not been solved. A PR #31 is open to resolve this and will automatically close this when merged.

[2019-10-10 13:33] dhruvkb commented on #37
@HAMZABoxer98 great work! One question I must ask is why Netlify over Zeit? Are there any specific limitations of Zeit that Netlify resolves (asking because I personally am a bigger fan of Zeit)?

[2019-10-10 13:37] dhruvkb commented on #37
Also, would it be possible to deploy the complete Vocabulary website instead of just the styleguide? What I mean is can we deploy this exact tree (as seen [here](https://creativecommons.github.io/cc-vocabulary/))?

[code]

[2019-10-10 13:53] dhruvkb commented on #37
Once we have a working deployment, we'll replace the `docs/` folder with a redirect.

[2019-10-10 14:18] HAMZABoxer98 commented on #37
just because I had some experience with Netlify, but it serves static websites only. I didn't use Zeit before, but I can do it.

yes, it's possible to serve the `/docs` folder, but I don't know why `index.html` doesn't work with me, both locally and Netlify,

can you explain more please.

[2019-10-10 19:10] loranazarenko commented on #25
State 1:
![image](https://user-images.githubusercontent.com/5892607/66598806-86337e00-ebaa-11e9-94a8-55015d244e90.png)

State 2:
![image](https://user-images.githubusercontent.com/5892607/66598894-baa73a00-ebaa-11e9-9039-979b1532f804.png)

[2019-10-11 02:28] dhruvkb commented on #15
Have you taken a look at the [`dir` attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/dir)? It is a global attribute that was specifically designed to handle RTL layouts.

[2019-10-11 02:33] dhruvkb commented on #15
So the idea would be to maintain a list of known RTL languages (or even better, define the directionality of the locale in a `direction` key from the Locale component's [localeList](https://github.com/creativecommons/cc-vocabulary/blob/64148c8948ff84f7d7eed4654a838280f5db4e4e/src/patterns/Locale/Locale.vue#L48)) and if the locale has RTL-directionality, set the `dir` attribute on the HTML tag itse

[2019-10-11 02:39] dhruvkb commented on #25
Why are the switches green without having set the prop `color="green"`? Just to clarify, the prop `simplicity` deals with the visual prominence of a component.
![image](https://user-images.githubusercontent.com/16580576/66620495-4ac29f00-ebfe-11e9-963e-95f073da04a3.png)

[2019-10-11 03:44] dhruvkb commented on #25
I disagree with some of your selections. `Paragraph`, `LicenseIconography` and `Heading` cannot be rounded or simplified. However I updated the issue to list the components that can be styled and yet aren't.

[2019-10-11 08:15] HAMZABoxer98 commented on #15
@dhruvkb , some Elements ( Components ) may need additional styling and `dir="rtl"` won't work with it.
example: button with `call-to-action` attribute has a `clip-path` styling to the right, so I need to change it to the left for RTL.

[2019-10-11 08:18] dhruvkb commented on #15
This issue pertains to setting up the core infrastructure for RTL. We'll deal with component-specific RTL changes in separate issues.

[2019-10-11 08:29] HAMZABoxer98 commented on #15
okay, once #31 is merged I will work on this.

[2019-10-11 08:41] dhruvkb commented on #7
@HAMZABoxer98 sure, go ahead and pick one component that you would like to build. Do upload mockups and screenshots of the stylistic variants before coding the components.

[2019-10-11 10:46] HAMZABoxer98 commented on #7
![popup](https://user-images.githubusercontent.com/12598426/66645922-fd0d5d00-ec24-11e9-8ddf-2703b8cfb39f.PNG)

[2019-10-11 12:51] dhruvkb commented on #7
Looks good @HAMZABoxer98. Do remember to also develop inverted, rounded and simplistic variants.

[2019-10-11 18:18] loranazarenko commented on #25
Because I wrote the styles in the file SwitchField.styl:
 &.slightly-simple
    --switch-field-off-background-color $color-context-positive-light
    --switch-field-on-background-color $color-context-light
    --switch-field-handle-color $color-context-probably-light

  &.extremely-simple
    --switch-field-off-background-color $color-context-positive
    --switch-field-on-background-color $color-

[2019-10-11 18:44] loranazarenko commented on #25
What to do with the Shield field?  There are no simplicity styles.
ImageView - I think we can use the Roundness style.
And maybe ProgressBar too - add some transparency?

[2019-10-12 03:31] dhruvkb opened #39 "Install Netlify as a GitHub application"
Currently GitHub Pages are being used to serve the Vocabulary website. This comes with its own set of shortcomings, the main one being the need for manual builds into the `docs/` directory each time documentation is updated in the source code.

Having Netlify installed would allow us to set up an auotmatically deployed, always up to date version of Vocabulary documentation served independently fro

[2019-10-12 03:31] dhruvkb commented on #37
To drive work on this forward #39 has been created.

[2019-10-12 03:38] dhruvkb commented on #7
@rashadmad if you're looking for a quick introduction to Vocabulary, you could try building one of the components listed above other than those already being developed by someone else.

[2019-10-12 04:15] dhruvkb commented on #25
@loranazarenko I fear I might not be making my point clearly so here are some designs so as to point you in my direction.

As we move right, the roundness goes from slight to complete. As we move down the simplicity goes from slight to extreme.
![image](https://user-images.githubusercontent.com/16580576/66694698-16b9ad80-ecd4-11e9-82da-ad2427a2d350.png)

As you can see, using a different stylistic

[2019-10-12 04:31] dhruvkb commented on #25
@loranazarenko the ImageView already has a rounded variant which might have slipped by you. Transparency doesn't really align with the general design scheme (I'm not much of a designer and a poll on Slack #usability would yield more professional thoughts) although the progress bar could definitely use some simpler variations.

Here are some ideas for Shield in terms of simplicity.
![image](https:/

[2019-10-12 04:33] dhruvkb commented on #6
@ifylala Any updates on this?

[2019-10-12 04:33] dhruvkb commented on #2
@sabina-rohman any updates?

[2019-10-12 10:18] HAMZABoxer98 commented on #37
I am working on adding Popup/ Tooltip component, once I finish I will take it.

[2019-10-12 10:25] HAMZABoxer98 commented on #39
I deployed the style guide with Netlify in #37. what additions needed here ?

[2019-10-12 10:35] dhruvkb commented on #39
@HAMZABoxer98 to setup CD, Netlify GH app, needs to have access to the repo, something that only organisation management has permissions to do. Neither you nor I can set this up, so I asked @kgodey ma’am to set this up.

[2019-10-12 10:52] HAMZABoxer98 commented on #39
@kgodey , just follow these steps:
https://youtu.be/mN9oI98As_4?list=PLzlG0L9jlhEPMR8haUPkxj2hJ_3jh5qa6
at 1:57 , fill it like that:
![Capture](https://user-images.githubusercontent.com/12598426/66700252-c69c1480-ecee-11e9-8f84-c312372a792e.PNG)
Finally, when you visite that link you will see a blank page because `index.html` is not working and I don't know why, so you have to browse manually into

[2019-10-12 12:03] dhruvkb commented on #39
`index.html` for the root directory does not work because of the public directory being set [here](https://github.com/creativecommons/cc-vocabulary/blob/64148c8948ff84f7d7eed4654a838280f5db4e4e/vue.config.js#L2).

[2019-10-12 17:56] dhruvkb commented on #26
Resolved in 352f794.

[2019-10-12 17:56] #26 closed

[2019-10-12 18:28] dhruvkb commented on #27
Resolved in a884c94.

[2019-10-12 18:28] #27 closed

[2019-10-12 18:44] rashadmad commented on #7
great I am going to make a slider component. This should get my feet wet.

[2019-10-12 20:53] loranazarenko commented on #25
I was very stupid, but corrected this error and tried to use your design, that's what I got.

![image](https://user-images.githubusercontent.com/5892607/66707598-89b23b00-ed4b-11e9-9b5e-b567cdd8594c.png)

[2019-10-12 21:01] loranazarenko commented on #25
I will try to do Shield.

[2019-10-13 02:39] dhruvkb commented on #7
@rashadmad for now, none of the components have their stories in the storybook, so you can skip it. Develop just the Styleguidist documentation using a Markdown file named `Component.md`, similar to the other components.

[2019-10-13 12:49] sabina-rohman commented on #2
@dhruvkb oh so sorry, didn't realize it was already assigned to me! I accepted and am working on a separate mozilla task at the moment. I could try this one once I complete the current task. Though I am not sure when. For now please feel free to un-assign it in case anyone else may want to pick it up. Thanks :)

[2019-10-13 14:58] dhruvkb commented on #2
I'm unassigning this for time being. Feel free to take it up again if you are freed from the other task and this hasn't been taken up in the meantime.

[2019-10-13 15:55] MysticNas commented on #24
hello @dhruvkb , would it possible for you to screenshoot one of the said unconsistent controls. I m not sure which ones I should work on. Thank you.

[2019-10-14 04:15] dhruvkb commented on #24
@MysticNas the following is a table of controls and their dimensions.

| Component | Height | Border |
|-|-|-|
| Button | 35.2 | 1 |
| InputField | 35.2 | 1 |
| SelectField | 37.2 | 1 |
| SwitchField | 20 | 4 |
| ChoiceField | 24 | 1 |

Ideally these components should coalesced to a `2.25em`/`2.5em` height scale and set to a box-sizing of `border-box` so that the border is factored into the height

[2019-10-14 08:59] mouracamila commented on #17
@dhruvkb One solution that I found interesting was deleted the icons and the border-right.
![Screenshot from 2019-10-14 10-55-47](https://user-images.githubusercontent.com/41678283/66739738-9fba1b80-ee71-11e9-960b-1f769d5c7733.png)

[2019-10-14 09:03] mouracamila commented on #17
![Screenshot from 2019-10-14 11-01-16](https://user-images.githubusercontent.com/41678283/66739943-3090f700-ee72-11e9-94c7-adbca995bd09.png)
About the menu hamburger, Bootstrap4 has the navbar-collapse that creates the collapse menu with a default resolution of less than 991px. Websites have this feature https://angular.io/docs and https://vuejs.org/.

[2019-10-14 16:17] HAMZABoxer98 commented on #7
I would suggest:
[ ] Dropdown

The dropdown could accept hover/ click events.

References:
https://ant.design/components/dropdown

[2019-10-14 16:21] HAMZABoxer98 commented on #7
@dhruvkb , I'd like to work on Label/Tag/Chip.

[2019-10-14 17:35] TimidRobot opened #43 "Showcases do not link back to GitHub repository"
## Describe the bug
https://opensource.creativecommons.org/cc-vocabulary/styleguide/ does not link to the GitHub repository

[2019-10-14 17:39] TimidRobot opened #44 "Styleguide does not define components (ex. Footer)"
## Describe the feature
The Styleguide does not define components (ex. Footer).

https://opensource.creativecommons.org/cc-vocabulary/styleguide/#/Patterns/Footer only shows `<Footer />`. How Footer is defined is not shown (ex. which tone is used).

[2019-10-14 17:44] dhruvkb commented on #43
Just putting it out there, the [homepage](https://opensource.creativecommons.org/cc-vocabulary/) does link to the GitHub repository in the footer.

[2019-10-14 17:45] dhruvkb commented on #7
@HAMZABoxer98 looking forward to your designs!

[2019-10-14 17:51] dhruvkb commented on #17
Okay @mouracamila let's use the hamburger menu on tablets (portrait orientation) and mobile. I think horizontal scrolling would be acceptable in the navigation if the width exceeds the container size.

[2019-10-14 19:47] loranazarenko commented on #25
What about this variant:

![image](https://user-images.githubusercontent.com/5892607/66778532-9ada8380-eed4-11e9-967b-88daa64eedf1.png)

[2019-10-15 00:49] MysticNas commented on #24
![screenshot mission](https://user-images.githubusercontent.com/54336075/66791647-192e2a00-eec3-11e9-8493-8eea6c14f9b4.jpg)
 Thank it helped.    From what I understand , the boxes I have circled in red are what you call "controls". However , I couldn't find the heights and Border measurements you mention (35.2/ 1). Could you tell me which file you saw those measurements so I know which file I shou

[2019-10-15 05:25] kgodey commented on #39
I set it up and it's being deployed here: https://cc-vocabulary.netlify.com/ but something appears to be wrong since the page is showing up as blank for me.

I sent Netlify an email about switching to their Open Source Plan and I'm going to keep this issue open until that's resolved as well.

[2019-10-15 06:13] dhruvkb commented on #39
@kgodey the issue is that the Vocabulary website was configured to load on a subdirectory (as is the case with GH pages). See [comment](https://github.com/creativecommons/cc-vocabulary/issues/39#issuecomment-541318582).

[2019-10-15 06:14] dhruvkb commented on #39
Some changes might be required for this to work on Netlify, more specifically using env vars to configure the Vue build process.

[2019-10-15 06:16] kgodey commented on #39
Okay, let me know what you need me to do.

[2019-10-15 06:21] dhruvkb commented on #24
@MysticNas a control is any component that is meant to provide input to the app (such as a button or input field or switch) as opposed to a presentational component that merely shows content (such as an image view or heading). The red boxes you drew are just previews for the component allowing you to see how it looks and works in actual use.

Those measurements were taken using the box layout visu

[2019-10-15 06:27] dhruvkb commented on #25
👍 They’re much better than what I could have come up with!

Make sure you flip the greys in the inverted variant.

[2019-10-15 06:31] dhruvkb commented on #39
@kgodey you don’t need to do anything in particular afaik. It’ll work out on its own.

[2019-10-15 07:59] loranazarenko commented on #25
I specifically left gray, maybe. Does he look bad? If you do not like it, write in which item I will correct it.

[2019-10-15 09:41] dhruvkb commented on #25
@loranazarenko I think you've misunderstood. I'm not criticising the design, just saying that light grey on white background should automatically switch to dark grey on black background.

[2019-10-15 10:15] ifylala commented on #6
No update yet @dhruvkb , like you said earlier it's best if it is done in bits. Can you help me in breaking it down? Because I am a bit confused.

[2019-10-15 11:00] dhruvkb commented on #6
@ifylala let’s start with elements, that too the first one which is `<Button/>`. Can you convert the styleguide for Button into an interactive storybook? By interactive I mean like instead of coding in every prop, use “knobs”.

[2019-10-15 17:27] dhruvkb opened #46 "Allow users to import CSS per component"
Currently the CSS being bundled by Webpack has a problem. The entire CSS is bundled into one giant `vocabulary.css` file that must be imported in an all or nothing fashion. That's not good for a component library that prides itself on flexibility and customisability.

The goal is to be able to provide piecewise CSS files and, optionally, also Stylus files on a per component basis in order to be ab

[2019-10-15 18:25] HAMZABoxer98 commented on #7
@dhruvkb I can improve it more, can I go ahead ?
![Capture](https://user-images.githubusercontent.com/12598426/66858555-cf5c4700-ef89-11e9-9356-1fe16a7701d4.PNG)

[2019-10-15 18:26] Eniola4031 commented on #14
@dhrvkb How do i reach you please, i need some clarifications?

[2019-10-15 19:29] dhruvkb commented on #14
Slack would be the best way to reach me.

[2019-10-15 19:30] dhruvkb commented on #7
Looks amazing! Can you also add a price-tag type of variant?

[2019-10-15 19:46] HAMZABoxer98 commented on #7
one like this ? I've found this on codeopen ( it's not mine ).
![Capture](https://user-images.githubusercontent.com/12598426/66864312-24518a80-ef95-11e9-9451-f0ab0e0382a3.PNG)

[2019-10-15 19:49] dhruvkb commented on #7
Yeah, @HAMZABoxer98 like that, although you'll likely need to tweak it to fit in with the rest of your tag designs.

[2019-10-15 19:54] loranazarenko commented on #25
Yes, all colors are invertible because they are defined through variables.

[2019-10-15 20:05] dhruvkb commented on #25
That was my main concern. Make sure you make separate PRs per component. Would make it easier to review.

[2019-10-15 20:43] HAMZABoxer98 commented on #7
@dhruvkb , this is mine.
![Capture](https://user-images.githubusercontent.com/12598426/66868202-31727780-ef9d-11e9-9d4c-7c654dca6b78.PNG)

[2019-10-15 22:48] rashadmad commented on #7
Do you want this to just be a double slider or possibly allow users to set how many inputs that they want for the slider? For example if some one were to want up to four sliders?

[2019-10-16 05:57] dhruvkb commented on #7
@rashadmad two sliders to select a range are the minimum requirement so that someone is able to select a min-max range out of a larger range.

![image](https://user-images.githubusercontent.com/16580576/66891881-c9a54680-f007-11e9-9238-3299dfd85eea.png)

I don't see a use-case for more than two sliders. Do you have examples or possible use-cases?

[2019-10-16 09:14] #15 closed

[2019-10-16 13:15] Edely commented on #21
Hi @dhruvkb! I am applying to Outreachy. Can I work on this?

[2019-10-16 13:24] dhruvkb commented on #21
@Edely, the Popop component has already been developed by @HAMZABoxer98 in #40. Once the PR is merged, you'll be able to add this component to the LicenseIconography icons, but that could take one or two days. Would you like to wait or work on another issue in the meantime?

[2019-10-16 13:27] dhruvkb commented on #37
Vocabulary has now been [deployed](https://cc-vocabulary.netlify.com/) to Netlify as a continuous deployment provider, building straight from `refs/master`. Also all PRs will get a staging URL on Netlify :tada:.

[2019-10-16 13:27] #37 closed

[2019-10-16 13:29] dhruvkb commented on #39
https://github.com/creativecommons/cc-vocabulary/issues/39#issuecomment-542054853 has been addressed in cea80ed. The homepage of Vocabulary is now loading as expected.

[2019-10-16 13:30] Edely commented on #21
I believe is better to work on another issue, @dhruvkb .

[2019-10-16 13:34] dhruvkb commented on #4
Also adding the need to test code style with `lint` and also test code accessibility with suitable tooling as suggested in #13.

[2019-10-16 13:35] dhruvkb commented on #5
Continuous deployment to Netlify has been achieved with cea80ed.

[2019-10-16 13:38] HAMZABoxer98 commented on #4
Hi @dhruvkb , what I need to do here ?

[2019-10-16 14:04] dhruvkb opened #49 "Styleguide is slow to load"
**Description**
Even on a fast Internet connection the styleguide takes a long time to load. While this is understandable, given that the whole documentation for every component in every variant is a single bundle, it is not acceptable.

**Reproduction**
Just open the styleguide with the cache cleared or disabled using developer tools (<kbd>F12</kbd>) and you can see this firsthand.

**Expected be

[2019-10-16 15:56] rashadmad commented on #7
alright just 2 sliders then.

On Wed, Oct 16, 2019 at 12:57 AM Dhruv Bhanushali <notifications@github.com>
wrote:

--

_______________________________

*Striving to be better every day*

[2019-10-16 17:39] dhruvkb opened #51 "CircleCI does not run tests on PRs"
While CircleCI runs both linting and unit trusts on the `master` branch, none of the jobs are run on any of the PRs.

Running tests on PRs acts as a valuable check on the validity of the PR and removes the need to manually set up the branch locally and see if everything works as expected.

[2019-10-16 22:16] rashadmad commented on #7
does this slider need to look exactly like the other one?

On Wed, Oct 16, 2019 at 10:55 AM Rashad Madison <rashadmad@gmail.com> wrote:

--

_______________________________

*Striving to be better every day*

[2019-10-16 22:32] rashadmad commented on #7
also should I just add the 2 slider functionality to the input field that
is already there.

On Wed, Oct 16, 2019 at 5:15 PM Rashad Madison <rashadmad@gmail.com> wrote:

--

_______________________________

*Striving to be better every day*

[2019-10-17 03:41] dhruvkb commented on #7
@rashadmad make it as close to the `<input>`-type slider as you can. You can make it another component like `RangeInput`.

[2019-10-17 03:48] rashadmad commented on #7
alright

On Wed, Oct 16, 2019 at 10:41 PM Dhruv Bhanushali <notifications@github.com>
wrote:

--

_______________________________

*Striving to be better every day*

[2019-10-17 05:31] rashadmad commented on #7
there is no label for the old one that is less a11y.

On Wed, Oct 16, 2019 at 10:48 PM Rashad Madison <rashadmad@gmail.com> wrote:

--

_______________________________

*Striving to be better every day*

[2019-10-17 06:55] dhruvkb commented on #7
The label has been left to the application to implement. We can only provide the field after all.

[2019-10-17 07:02] #28 closed

[2019-10-17 16:05] HAMZABoxer98 commented on #7
@rashadmad , I understand that you want to test your component on the browser, you can run:
`npm run serve:website`
then import your component and use it inside App.vue.

[2019-10-18 06:23] rashadmad commented on #7
The slider already created does not have any output, does the double range
slider need an output.

On Thu, Oct 17, 2019 at 11:05 AM Hamza Nouali <notifications@github.com>
wrote:

--

_______________________________

*Striving to be better every day*

[2019-10-18 17:53] dhruvkb commented on #7
@rashadmad the output needs to be provided to the application using it by means of `v-model` (which is a shorthand for `value` and `@input`).

[2019-10-18 21:03] rashadmad commented on #7
Oh yeah I understand that, what I was talking about is for the range slider
here already on vocabulary has no number output.

So when it comes to the double range slider will it also not need a number
output? When I say number output I mean like in the second image where
there are numbers displayed next to the slider. The first image is
vocabulary the second is my slider.

On Fri, Oct 18, 2019 at

[2019-10-18 21:57] dhruvkb commented on #7
@rashadmad which images are you referring to? I can't seem to find any images in the discussion.

[2019-10-18 22:01] rashadmad commented on #7
I attached them. if you cant see them on github maybe your email.

On Fri, Oct 18, 2019 at 4:57 PM Dhruv Bhanushali <notifications@github.com>
wrote:

--

_______________________________

*Striving to be better every day*

[2019-10-18 22:02] dhruvkb commented on #7
@rashadmad I don't get emails from GitHub, which I assume would be the case for a lot of people. Could you post them on the thread using the web interface?

[2019-10-18 22:35] rashadmad commented on #7
I had been contacting you totally through my email.
<img width="867" alt="Screen Shot 2019-10-15 at 12 11 20 PM" src="https://user-images.githubusercontent.com/5515036/67132189-7bda3b00-f1cd-11e9-80df-0007d59efee5.png">

<img width="867" alt="Screen Shot 2019-10-15 at 12 11 20 PM" src="https://user-images.githubusercontent.com/5515036/67132220-901e3800-f1cd-11e9-91d1-c4ba6b3dfa78.png">
<img width=

[2019-10-19 07:04] dhruvkb commented on #7
@rashadmad There is no need for the component to display the output range, returning them programmatically should be enough, letting the users pick their way to output/use the range.

[2019-10-19 09:40] dhruvkb commented on #24
With PRs #52 and #53, both `SwitchField` and `Shield` have been converted to a `36px`/`2.25em` height. This value should therefore be taken as the de facto standard for the other controls.

[2019-10-19 09:42] dhruvkb commented on #25
Updated https://github.com/creativecommons/cc-vocabulary/issues/25#issuecomment-528751591 to reflect merged status of PR #52 and #53.

[2019-10-19 09:49] HAMZABoxer98 commented on #7
- [ ] Date Picker

By clicking the input box, you can select a date from a popup calendar.

**References:**
- [Buefy](https://buefy.org/documentation/datepicker)
- [Ant Design](https://ant.design/components/date-picker/)

[2019-10-19 09:51] dhruvkb opened #54 "Customize Styleguide footer"
The footer currently shown on the styleguide says

which isn't helpful at all. A better footer is needed which is more informative.

I particularly like the footer of the [Carbon design system](https://www.carbondesignsystem.com/).
![image](https://user-images.githubusercontent.com/16580576/67142927-d46c0f80-f283-11e9-9398-ddab263b5b3b.png)

Our own `Footer` component is pretty cool too.

This wou

[2019-10-19 09:52] HAMZABoxer98 commented on #7
- [  ] Time Picker

An input with a simple dropdown/modal for selecting a time

**References:**

[Buefy](https://buefy.org/documentation/timepicker)
[Ant Design](https://ant.design/components/time-picker/)

[2019-10-19 09:53] dhruvkb commented on #43
The [storybook](https://opensource.creativecommons.org/cc-vocabulary/storybook) does not link to the GitHub repository either.

[2019-10-19 09:55] HAMZABoxer98 commented on #7
- [ ] File Uploader

Upload file by selecting or dragging.

[2019-10-19 09:57] dhruvkb commented on #7
Against the time picker because we have
[code]

**Examples:**
- [W3Schools](https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_input_type_time)

[2019-10-19 09:58] HAMZABoxer98 commented on #7
@dhruvkb , what about the slider we already have it ?

[2019-10-19 09:59] dhruvkb commented on #7
To add to https://github.com/creativecommons/cc-vocabulary/issues/7#issuecomment-544122455 the uploader should also allow preview of files such as images _before_ actually uploading to the server.

[2019-10-19 10:00] dhruvkb commented on #7
We have a single input slider using
[code]

but no double input slider for selecting upper and lower bound of range. @rashadmad is currently developing the double input slider.

[2019-10-19 10:02] HAMZABoxer98 commented on #7
@dhruvkb , I deleted Time Picker suggestion.

[2019-10-19 10:05] dhruvkb commented on #7
Against the date picker because we have
[code]

[2019-10-19 10:06] dhruvkb commented on #7
These replacements for standard `input` types do not offer any advantage over their native counterparts.

[2019-10-19 11:03] sudoshweta commented on #54
Hi, Can I work on this issue?

[2019-10-19 11:16] dhruvkb commented on #54
Sure, take it up

[2019-10-19 15:42] HAMZABoxer98 commented on #7
@dhruvkb , do you have other suggestions or that's enough ?

[2019-10-19 16:12] dhruvkb commented on #7
There will be more components added, which is why this issue is tagged `discussion: rfc`. If anyone finds a useful component that Vocabulary does not provide, they can post it here.

[2019-10-19 17:15] HAMZABoxer98 commented on #13
1- What do you mean by *system* ? do you want to validate a11y compliance programatically ?
like this: https://www.npmjs.com/package/a11y ?

2- Some elements like Tabs doesn't meet the a11y standards.

[2019-10-19 17:31] HAMZABoxer98 commented on #23
@dhruvkb , I took a look at the colors and I learned HSL, how much time this will take in your estimation ? ( I am working on my final application, so I need to estimate how much time I need ).

[2019-10-19 20:24] dhruvkb commented on #23
@HAMZABoxer98 this issue is not suitable to be worked on during the Outreachy contribution period because
- it is super long term and will probably need months to seal
- it requires a lot of iterations based on feedback from almost the entire CC staff
- it requires almost professional knowledge of design and UX
- it involves rigorous testing/feedback loops involving the Usability team

That said,

[2019-10-19 20:30] dhruvkb commented on #13
@HAMZABoxer98 the goal of the issue is to find and fix accessibility shortcomings in the components. None of the components right now have any a11y related considerations such as
- no ARIA attributes
- zero regard for keyboard accessibility
- no `tabindex`
- missing alt and title text

and more that even I don't know about. As of now, we have an accessibility tool built into our [storybook](https:

[2019-10-19 22:00] HAMZABoxer98 commented on #23
@dhruvkb , so this is not just converting colors from hex to HSL ?
I think you should update the project **Tasks** on your [Outreachy page](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/creative-commons/#extend-the-scope-andor-usage-of-cc-vocabulary) and list a new **Tasks** because the current list seems a little bit vague...

[2019-10-20 05:18] sudoshweta opened #55 "Modify broken link in READMe file"
**Description**
Link for interactive storybook is broken.

**Expected behavior**
Interactive Storybook link should open

[2019-10-20 05:51] #55 closed

[2019-10-20 05:53] dhruvkb commented on #23
The list is as vague as it is because of a very strict word limit on the answers. Feel free to post queries in the Slack channel and I'll be happy to describe the goals in entire paragraphs!

[2019-10-20 05:55] dhruvkb commented on #23
As for the colors @HAMZABoxer98 no, just changing hex to HSL would not be enough. The issue is to redo the entire colour palette which is quite a responsibility.

[2019-10-20 08:00] dhruvkb commented on #21
@Edely the `Popup` component is now ready for use! Would you like to take this up?

[2019-10-20 08:06] dhruvkb opened #57 "Add missing features to Popup"
**Description**
The newly developed component `Popup` is a wrapper on `Section` and therefore lacks the traditional pointing arrow associated with components of this nature.

**Problems solved**
A popup with an arrow clearly points to the component that the popup is for. This is especially useful if the popup spans multiple lines vertically or multiple words horizontally.

**Alternatives**
Popups

[2019-10-20 08:17] dhruvkb commented on #4
Adding the need to incorporate E2E testing using Selenium _or other competent tooling_ into the library, thus increasing the scope and duration of the task and increasing its relevance above and beyond a good first issue to introduce new developers to the library.

[2019-10-20 09:28] dhruvkb commented on #5
Closed accidentally. Continuous/automatic deployment to `npm` and GitHub Pages remains to be achieved.

[2019-10-20 09:50] sudoshweta commented on #54
Hi, does this footer needs to be implemented on each page? I saw the elements, "Generated with Vue Styleguidist" is there on almost every page.
![footer](https://user-images.githubusercontent.com/21018589/67157690-2af15080-f34d-11e9-8ca6-21af81e4ac02.png)

[2019-10-20 11:17] dhruvkb commented on #54
Yeah, the idea is to replace the "Generated with Vue Styleguidist" with our footer.

[2019-10-20 13:44] sargamm commented on #57
Hi @dhruvkb , I would like to work on this

[2019-10-20 13:51] sargamm commented on #57
Before I can start, can you guide me a little?

[2019-10-20 16:10] chidexebere commented on #43
Hi, Outreachy applicant here. Would love to work on this issue

[2019-10-20 16:15] chidexebere commented on #43
![link github](https://user-images.githubusercontent.com/25040059/67162574-1452f580-f35d-11e9-9916-90155955aa10.JPG)
My proposition is to have a link back to github repo on the right side

[2019-10-20 19:55] dhruvkb commented on #57
@sargamm, you're welcome to work on this.

[2019-10-20 19:58] dhruvkb commented on #43
Having that ribbon on every page would be too attention-grabbing and quickly become annoying in my opinion. I think a link in the left sidebar would be a better way. Also I'm very much in favour #54 as a solution to the problem. Your thoughts @TimidRobot?

[2019-10-20 19:59] dhruvkb commented on #57
@sargamm I'd be happy to help on Slack if you need help getting started or have queries that need to be resolved.

[2019-10-20 20:11] chidexebere commented on #43
Yeah @dhruvkb , I also feel #54  is a better solution and having that ribbon on every page can be messy.  A better experience will be to have this ribbon only on the [home page](https://opensource.creativecommons.org/cc-vocabulary/). But I await the go-ahead from you and @TimidRobot .

[2019-10-21 09:19] sayima-n commented on #2
Hello @dhruvkb I'm an Outreachy applicant and would like to take this up if its available. I would start with all the `icon` props components, submit pull request and then the `iconList` and finally `iconSet`. What do you think?

[2019-10-21 09:29] dhruvkb commented on #2
@sayima-n sounds good!

[2019-10-21 09:31] dhruvkb commented on #43
@chidexebere I think you should go ahead and add the ribbon to the homepage. Any ideas achieving a similar link in the [storybook](https://creativecommons.github.io/cc-vocabulary/storybook)?

[2019-10-21 09:36] sayima-n commented on #2
Thank you! Talk to you soon

[2019-10-21 10:45] chidexebere commented on #43
My suggestion is :

1. Having a header component for the styleguide and storybook. This header should include navigation to back to vocabulary's homepage, styleguide and storybook pages, a search bar, and links to GitHub repo using an icon (not like a ribbon for the vocabulary's homepage)
 This will solve the following:
- easy navigation to homepage, styleguide and storybook pages. (Currently you

[2019-10-21 10:47] chidexebere commented on #43
Also I wanted to clarify if the ribbon I am to add to the vocabulary's homepage should be a component?

[2019-10-21 11:46] sargamm commented on #57
I don't know how to use slack. how do i go about with it?

[2019-10-21 13:28] ifylala commented on #6
@dhruvkb please explain what you mean by "knobs"

[2019-10-21 14:39] dhruvkb commented on #57
@sargamm [this page](https://opensource.creativecommons.org/community/) points to resources and instructions.

[2019-10-21 15:18] dhruvkb commented on #43
@chidexebere the process for adding elements to the styleguide and storybook is a bit convoluted. You might have to work in React as well because both tools are themselves based in React.

Components are an altogether different deal. We can’t use Vocabulary components in the Styleguidist UI.

[2019-10-21 15:58] chidexebere commented on #43
Thank @dhruvkb , this clarifies my confusion going through the codebase. I have noticed that the styleguide and storybook were built with React but was struggling to fully understand the syntax.

- I will quickly add the ribbon to the Vocabulary homepage and submit a PR

- My React proficiency is better compared to that of Vue because I have used it more.

I will go through the React Styleguidist

[2019-10-23 02:50] chidexebere commented on #43
Hello @dhruvkb , I already created the ribbon as a component but discovered that there is a package I can easily install ([see here](https://github.com/gluons/vue-gh-corners)). Please should be appropriate to use here?

[2019-10-23 06:11] dhruvkb commented on #43
Creating a ribbon component will not add one to the [styleguide](https://creativecommons.github.io/cc-vocabulary/styleguide) or the [storybook](https://creativecommons.github.io/cc-vocabulary/storybook). You'll need to understand how to modify the UI for [Styleguidist](https://vue-styleguidist.github.io/) and [Storybook](https://storybook.js.org/) to do that.

As for the [homepage](https://creativ

[2019-10-23 07:53] bax-uva commented on #5
Hi @dhruvkb, I would like to work on this issue, but to do it I have to wait until issue#4 is complete?

[2019-10-23 07:57] dhruvkb commented on #5
@bax-uva, this is a very long-term issue which we're hoping to tackle under Outreachy itself because the contribution period is insufficient to complete it. You could actually help contribute to #4 instead.

[2019-10-24 16:55] sayima-n commented on #2
@dhruvkb in addition to not allowing any non Creative Commons icon within it's `icon-list` prop, the `LicenseIconography` is the only component not to provide a slot to render alternative icons. So it seems that this component refuses non Creative Commons icons by design. For this reason I'm wondering if the `icon-list` prop should nevertheless be made to accept any icons or left as is?

[2019-10-24 20:46] dhruvkb commented on #2
@sayima-n the `LicenseIconography` component is meant solely to depict icons that are parts of CC licenses. That is why their so constrained in terms of what icons they can show.

Since the component has a very narrow usecase and its icons are only available in the ‘fab’ set, you can leave the prop there as is.

[2019-10-24 20:51] dhruvkb commented on #17
@mouracamila any updates on this?

[2019-10-24 20:54] dhruvkb commented on #9
@SamOdum any updates?

[2019-10-25 15:07] bax-uva commented on #4
Hi @dhruvkb, I'm an Outreachy applicant, can I be assigned to this issue as well?

[2019-10-25 17:11] dhruvkb commented on #4
Sorry for this random assign and unassign events. That’s my GitHub client messing up.

[2019-10-26 04:29] dhruvkb opened #61 "ProgressBar broken on Chrome"
**Description**
All styling applied to the `ProgressBar` component vanishes in Google Chrome.

**Expected behavior**
The styling that appears very nicely in Mozilla Firefox should also work in Google Chrome.

**Screenshots**
![image](https://user-images.githubusercontent.com/16580576/67614229-c6b01000-f7d6-11e9-8fbb-120d09e1f745.png)
^ Progress bars in Google Chrome

![image](https://user-images.g

[2019-10-26 04:45] dhruvkb commented on #57
Adding the request for a feature to delay the appearance of the popup. Ideal implementation would be the ability to select from the predefined tokens or specify custom delay in miliseconds.

[2019-10-26 04:48] dhruvkb commented on #7
[ ] Skeleton

References:
- [Geist Design](https://zeit.co/design/skeleton)
- [Placeholder](https://semantic-ui.com/elements/placeholder.html)

[2019-10-26 04:50] dhruvkb commented on #7
- [ ] Spinner

While `FontAwesomeIcon` components can be made to spin, having a `Spinner` component ensures consistent colors, sizes and most importantly a constant icon.

[2019-10-26 04:53] dhruvkb commented on #7
- [ ] Snippet

This component would standardise depiction of code snippets and provide a copy button for quickly saving the snippet to the clipboard.

References:
- [Geit Design](https://zeit.co/design/snippet)

[2019-10-27 16:27] chidexebere commented on #43
Hello @dhruvkb , I have gone through the codebase and documentation. I now understand it better. And here is my solution

For the Styleguide:
I added a github corner to the vocabulary styleguide homepage (i.e the readme.md file)
![styleguide](https://user-images.githubusercontent.com/25040059/67637858-e894ba00-f8de-11e9-8b8f-316bd64cad5a.JPG)

For the Storybook:
- I create a welcome page
- And add

[2019-10-28 03:56] dhruvkb commented on #43
Looks great! Make your PR 👍

[2019-10-28 08:32] chidexebere commented on #43
I just created a PR, kindly review

[2019-10-28 20:09] victoriaheath opened #63 "Add open-licensed font—CC Accidenz Commons"
Please add the open-licensed font that was commissioned specifically for CC to Vocabulary.
It is available via download from WP here: https://d15omoko64skxi.cloudfront.net/wp-content/uploads/2019/10/CC-Accidenz-Commons-medium.otf_.zip

For more info on this font, please read this post: https://creativecommons.org/2019/10/28/accidenz-commons-open-licensed-font/

[2019-10-28 20:23] loranazarenko commented on #25
Hello! Can I get on your project as an intern?

[2019-10-29 02:01] chidexebere commented on #61
Hello @dhruvkb Can I work on this?

[2019-10-29 04:07] dhruvkb commented on #61
Yes @chidexebere, please go on.

[2019-10-29 04:11] dhruvkb commented on #25
@loranazarenko that will depend on a number of factors such as your proposal, your application and the number of seats allocated to the project. More on that can be found [here](https://opensource.creativecommons.org/programs/outreachy/2019-12-start/).

[2019-10-30 06:36] rashadmad opened #64 "Sidebar covers content when opened"
**Description**

When visiting the Pattern section of the site the sidebar disappears and allows the main content of the page to fill up the entire screen. Unfortunately this effect does not reset properly causing the main content to be a bit off after leaving that section and going to another.

**Reproduction**

When visiting the Pattern section of the site the sidebar disappears and allows the m

[2019-10-30 09:19] dhruvkb commented on #64
The sidebar disappears when you click outside it. This is expected behaviour.

[2019-10-30 19:58] rashadmad commented on #64
I think a solution like this would be better https://startbootstrap.com/previews/simple-sidebar/  I know I would not be able to accomplish this in time for nov 5. but I think it would look great if some one had the time to accomplish it.
![collapsibleSidebar](https://user-images.githubusercontent.com/5515036/67893981-a5785800-fb25-11e9-930b-2de546c34cc0.gif)

[2019-10-30 20:45] rashadmad opened #65 "Z-index | stacking order system"
**Description**

Create a stacking system for all of the elements in vocabulary.

**Problems solved**

Where elements like sticky footers or headers have to play nice with each other it can be difficult for teams to know what elements take priority. In many cases you may have elements popping up where they don't belong. exp: buttons being viewed over header elements.

**Alternatives**

Other desig

[2019-10-30 21:01] dhruvkb commented on #64
It definitely looks better, yes. But given that we’re aiming to switch away from Styleguidist to Storybook as our showcasing tool of choice (#6) I feel it would be an irresponsible use of time.

[2019-10-30 21:13] rashadmad commented on #64
I can see that, it is defiantly not a priority.

On Wed, Oct 30, 2019 at 4:01 PM Dhruv Bhanushali <notifications@github.com>
wrote:

--

_______________________________

*Striving to be better every day*

[2019-10-31 04:14] dhruvkb commented on #65
@rashadmad this is a solid idea, get on it!

[2019-10-31 11:58] dhruvkb opened #66 "Merge Vocabulary with the CC style guide"
The new [CC style guide](https://creativecommons.org/wp-content/uploads/2019/10/Creative-Commons-Style-Guide-2019.pdf) (from the [blog post](https://creativecommons.org/2019/10/30/cc-style-guide/) by @victoriaheath) contains a lot of differences from Vocabulary, notable in the color palette and typoraphical departments). Moreover, while the document outlines the guidelines for the copy and imagery

[2019-10-31 12:10] dhruvkb commented on #66
The resolution of colours would also resolve #23 as the new palette mentions so shades, just colours.

To be honest, while the new colours are great, the old palette had beautiful shades of
- ![image](https://user-images.githubusercontent.com/16580576/67945462-f27f2b80-fc04-11e9-8143-b28dce5629ac.png) green
- ![image](https://user-images.githubusercontent.com/16580576/67945488-01fe7480-fc05-11e9-8

[2019-10-31 17:18] dhruvkb opened #67 "Sanitise SVGs"
A number of SVGs are embedded in the project.

- `icons/`
  - `license/`
    - `badges_full/`
      - by-nc-nd
      - by-nc-sa
      - by-nc
      - by-nd
      - by-sa
      - by
      - pd
      - zero
    - `badges_reduced/`
      - by-nc-nd
      - by-nc-sa
      - by-nc
      - by-nd
      - by-sa
      - by
      - pd
      - zero
- `logos/`
  - `cc/`
    - letterheart_black
    - letterhea

[2019-11-01 20:51] loranazarenko commented on #25
I'm sorry, can I ask for advice  what I can do on an internship and what improvements or new features I can do.

[2019-11-01 20:59] kgodey commented on #66
We will not be merging the style guides; the CC style guide is maintained by the communications team and Vocabulary should follow it. That includes the colors, although we can keep the various shades of the colors, and we can include white/black/grey.

I think we should make/update separate tickets for each aspect of complying with the style guide (colors, fonts, anything else).

[2019-11-01 23:30] dhruvkb commented on #66
By merge, I meant align Vocabulary with the CC Style Guide. It's a one-way pull.

[2019-11-01 23:32] kgodey commented on #66
That makes sense. I do think it makes sense for Vocabulary to prescribe and document some web specific style guidelines that are based on the official style guide.

[2019-11-01 23:32] dhruvkb commented on #23
Color palette must be expanded to two shades lighter and two shades darker instead of the current one shade lighter, two shade darker color palette.

[2019-11-01 23:33] dhruvkb commented on #23
Removing discussion labels as colours have been finalised.

[2019-11-01 23:34] dhruvkb commented on #23
This issue is now open for code contributions.

[2019-11-01 23:36] dhruvkb commented on #66
@kgodey Issues #23 and #63 are tracking the specific differences. This issue is tracking the larger picture compliance of Vocabulary with the style guide.

[2019-11-01 23:41] dhruvkb commented on #25
@loranazarenko please join Slack so that we may discuss the specifics of the Outreachy internship over chat. Instructions for joining are available [here](https://opensource.creativecommons.org/community/).

[2019-11-04 16:32] dhruvkb opened #70 "Present expected HTML structure in the styleguide"
**Description**
Sites using Vocabulary as vanilla CSS need to know the ideal structure for HTML so as to appropriately style the components with Vocabulary CSS. This should be presented along with Vue code samples within the style guide itself.

**Problems solved**
This would enable sites not using Vue to effectively integrate with Vocabulary.

[2019-11-04 16:53] dhruvkb opened #71 "Flatten DOM as much as possible"
**Description**
While Vocabulary is a Vue package, not all usages of Vocabulary are or will be. This means that the vanilla CSS distribution of Vocabulary will end up being widely used. This means that the templates that Vue was writing on behalf of the developer will now have to be written by the developers themselves. Some especially complicated ones (such as the footer) are too nested to be wri

[2019-11-04 16:55] dhruvkb commented on #7
- [ ] SuperNav

This component would provide navigation to other sites within the CC Network. This is a **high priority**, **mandated** component.

References:
- [Wireframe](https://sketch.cloud/s/YpJMm)

[2019-11-07 01:25] kgodey opened #72 "Provide documentation for translators to add translations to Vocabulary"
**Description**
Currently, there are no instructions available to translators for how to add new translations to Vocabulary.

**Problems solved**
Lowers barriers for new translations to be added.

[2019-11-07 01:29] kgodey opened #73 "Integrate Vocabulary with Transifex"
**Description**
CC currently manages translations for our Deed and Chooser pages through Transifex. We'd like to move towards managing all translations through Transifex. We should manage Vocabulary translations there and automatically sync new translations.

**Problems solved**
Consistent translation infrastructure, better access to translators.

**Additional context**
This issue will require des

[2019-11-07 16:19] dhruvkb commented on #72
@kgodey am I correct to assume that this can only be implemented after #73 is resolved?

[2019-11-07 16:59] kgodey commented on #72
That depends, if #73 is going to take a while, I'd add instructions under the current system and then update then when #73 is resolved.

[2019-11-08 02:48] dhruvkb commented on #72
I’ll just make #73 high priority to avoid translators from wasting their efforts learning a new system that’s going to be deprecated.

[2019-11-11 10:04] #61 closed

[2019-11-11 13:00] chidexebere commented on #44
Hello, Can I work on this

[2019-11-11 17:01] dhruvkb commented on #44
Yes @chidexebere, go ahead.

[2019-11-12 12:32] Dhruvi16 commented on #21
Hey! I would love to take this up.
Thank you.

[2019-11-13 05:47] dhruvkb commented on #21
@Dhruvi16 please go ahead.

[2019-11-13 05:53] dhruvkb opened #76 "Create the Vocabulary brand guidelines"
**Description**
We might need our styleguide to also present the brand identity of Creative Commons and Vocabulary. This will help us distinguish the functions of the styleguide from the storybook.

**References:**
- [Firefox brand](https://mozilla.design/firefox)
- [Mozilla brand](https://mozilla.design/mozilla/)

[2019-11-14 03:46] chidexebere commented on #44
Hello, Please I will need a bit more context on what is required.
Do you mean the footer component will need like a color set or style set?

[2019-11-14 05:25] dhruvkb commented on #44
From what I understand, @TimidRobot wants the styleguide to give the meaning and expected ideal usage of every component.

[2019-11-14 07:24] chidexebere commented on #44
If I understand you this not only pertains to Footer.
Is this because Footer was entangled with Header in Styleguide?
Also, how should the ideal representation of every component on Styleguide look like?
May be @TimidRobot can help with more clarity.

[2019-11-14 10:08] dhruvkb commented on #44
Yeah @chidexebere, `Footer` was just an example. But you should initiate a discussion on this with @TimidRobot over Slack.

[2019-11-16 13:04] Dhruvi16 commented on #21
I have a silly doubt here. I am able to use the popup on the icons due to
`{ "props": { "className": "enlarged-text" } }`
I am unable to control the size of the text in the popup. So could you please help with that.
The code :
[code]
[code]

[2019-11-16 13:04] Dhruvi16 commented on #21
output -
![Screenshot from 2019-11-16 18-29-57](https://user-images.githubusercontent.com/34674462/68993581-b5bb6180-089f-11ea-91b7-875fe0810bd4.png)

[2019-11-16 14:02] dhruvkb commented on #21
@Dhruvi16 the enlarged-text prop was just there to show the icons in a larger font size. You may remove the class if it negatively impacts the output.

[2019-11-16 14:13] dhruvkb commented on #21
Just so we're clear, we want the user to be able to toggle the popup via a Boolean prop and preferably also be able to pass props to the popup component via `$attrs`.

[2019-11-18 14:09] hugosolar opened #77 "Global stylus file"
**Description**
Create a single stylus file that imports all the single stylus files containing general styling and components. The idea is to have a global style file to automatically compile it using gulp

[2019-11-18 14:21] hugosolar opened #78 "Review components JS script files"
**Description**
Check and review components scripts to verify if they can be used outside Vue. If not, they may need to be converted to Vanilla JS in order to use them on any website (eg. Wordpress).

An automated process to minify and concatenate them should be needed as well

[2019-11-18 14:29] hugosolar opened #79 "Automate style compilation and script minification"
**Description**
Use gulp or another automation tool to :

- Compile stylus global file
- Watch stylus files when style changes were made
- Minify and concatenate JS files

[2019-11-19 06:59] dhruvkb commented on #78
This is also related to #71.

[2019-11-21 14:35] dhruvkb opened #80 "Customize Theo output format to use HSL instead of RGB"
[Theo](https://github.com/salesforce-ux/theo) is currently configured to use the `web` transform, which causes all colors to be transformed to RGB, regardless of the format used in the `.yml` files. Going forward, as we migrate to the HSL scheme with #23, Theo will need to be configured differently to preseve hue and saturation information in the final transformed tokens.

If limitations prevent u

[2019-11-21 18:21] dhruvkb opened #81 "Change the presentation of colors in tokens"
The old card view for colors worked out well in the past when each color was present in four shades. With each color now having five shades, it is no longer feasible to use cards to present colors. Plus using separate cards for every shade creates the impression that each of this shade is an independent hue in itself, which is decidedly not the case here.

We need a better way to present informati

[2019-11-21 19:09] vksonagara commented on #57
I would like to work on this issue.

[2019-11-25 17:07] dhruvkb opened #82 "Create Figma/Zeplin components for prototyping"
**Description**
Designers prefer tools like Figma, Adobe XD, InVision and Zeplin for UI prototyping. Having components and a playground is okay but for actual speedy prototyping we need these assets available readily.

**Problems solved**
Having assets for one or two of the most popular of these tools would greatly simplify using Vocabulary in other apps while also making it easier to ideate chang

[2019-11-25 17:11] dhruvkb opened #83 "Split Vocabulary stylesheets into their own repository"
**Description**
Making a framework out of Vocabulary means supporting more than just Vue.js. The first step towards that is having a pure-CSS framework that is tooling-agnostic with a Vue component library merely wrapping over it.

**Problems solved**
This, in conjunction with #71 and #70 would make Vocabulary independent of Vue.js and integrable into many other CC sites that use WordPress or Lekt

[2019-11-26 12:53] dhruvkb commented on #7
- [ ] 404 pattern

This component would be used on 404 pages, allowing the user to return to the home page or browse the site using the internal links.

References:
- @techievivek's work on creativecommons/creativecommons.github.io-source#131

[2019-11-27 06:23] dhruvkb opened #84 "Find and replaces occurrences of vocabulary with vue-vocabulary"
Vocabulary has now been split into two repositories:
- style-only library named [`vocabulary`](https://github.com/creativecommons/vocabulary)
- Vue component library named [`vue-vocabulary`](https://github.com/creativecommons/vue-vocabulary)

This split has left us with rampant misnaming throughout the project, in the HTML titles, in copy texts, in documentations and in links. These mistakes must

[2019-11-27 08:42] ritesh-pandey commented on #84
@dhruvkb Can I take this up?

[2019-11-27 09:44] dhruvkb commented on #84
@ritesh-pandey yes, please go ahead.

[2019-11-29 08:44] #43 closed

[2019-11-29 09:43] ritesh-pandey commented on #84
Next I am picking up `src` directory

[2019-11-29 22:48] #2 closed

[2019-11-30 14:43] #57 closed

[2019-12-02 10:13] ritesh-pandey commented on #84
There is one more [file](https://github.com/creativecommons/vue-vocabulary/tree/master/documentation/metafiles) where we should use `Vocabulary` instead of `CC Vocabulary`. But I am not sure. @dhruvkb can you help?

[2019-12-02 10:45] dhruvkb commented on #84
Where exactly in the [file](https://github.com/creativecommons/vue-vocabulary/tree/master/documentation/metafiles)?

[2019-12-03 04:54] ritesh-pandey commented on #84
First paragraph. First line.
[code]

[2019-12-03 04:56] dhruvkb commented on #84
Yeah it should be Vocabulary.

[2019-12-03 05:55] dhruvkb commented on #84
@ritesh-pandey are there any more occurrences of CC Vocabulary in the repository? Or any mislabeled occurrences of Vocabulary?

[2019-12-03 05:56] ritesh-pandey commented on #84
You read my mind. I was writing the same comment.

I am unable to find any more such occurrences.

[2019-12-03 06:02] dhruvkb commented on #84
Great, feel free to take up another issue. Closing.

[2019-12-03 06:02] #84 closed

[2019-12-03 06:30] dhruvkb commented on #54
This plan has been dropped in favour of #6, which eliminates Vue Styleguidist entirely.

[2019-12-03 06:30] #54 closed

[2019-12-03 06:36] dhruvkb commented on #21
@Dhruvi16 any updates on this?

[2019-12-03 06:37] dhruvkb commented on #51
Tracking this on Asana.

[2019-12-03 06:37] #51 closed

[2019-12-03 06:37] dhruvkb commented on #39
Tracking this on Asana.

[2019-12-03 06:37] #39 closed

[2019-12-03 06:40] dhruvkb commented on #83
The new repository can be found at [creativecommons/vocabulary](https://github.com/creativecommons/vocabulary).

[2019-12-03 06:40] #83 closed

[2019-12-03 06:46] dhruvkb commented on #70
Since the Stylus files have been extracted into their own repo, the documentation for the style-only library will also be something other than Vue Styleguidist. This, in addition to the plan to phase out Vue Styleguidist under #6, means that this issue is no longer valid.

[2019-12-03 06:46] #70 closed

[2019-12-03 06:48] dhruvkb commented on #49
Closing in the light of #6 being tackled by @chidexebere under his Outreachy week#1.

[2019-12-03 06:48] #49 closed

[2019-12-03 07:46] ritesh-pandey commented on #81
Something like this?
https://www.w3schools.com/colors/colors_names.asp

[2019-12-03 12:09] dhruvkb commented on #81
@ritesh-pandey essentially yes, but more _beautiful_?

[2019-12-03 12:20] dhruvkb commented on #81
**References:**
- [Atlassian](https://atlassian.design/guidelines/brand/color) for clear separation of brand colours from functional colours
- [Shopify](https://polaris.shopify.com/design/colors#section-color-palette) for choice between hex codes and SCSS

[2019-12-03 23:01] kgodey commented on #81
@dhruvkb now that we decided not to do shades of the brand colors, will you update the ticket description?

[2019-12-04 06:13] dhruvkb commented on #81
@kgodey yes, we planned not to make shades for brand colours but our functional colour palette (to be designed in conjuction with @panchovm) will still be shaded. So a better way to depict colours will nevertheless be very productive.

[2019-12-04 06:29] dhruvkb commented on #81
To add to https://github.com/creativecommons/vue-vocabulary/issues/81#issuecomment-561143360, here is an example of a clean colour presentation in Storybooks. This is Storybook's [own design system](https://storybook-design-system.netlify.com/?path=/docs/design-system-colors--page).

Here's another view of the same page. Beautiful.
![image](https://user-images.githubusercontent.com/16580576/701181

[2019-12-04 06:40] dhruvkb commented on #6
Storybooks has been updated to version 5.2, with documentation addon and JSX support. @chidexebere is taking on this issue for week#1 of Outreachy.

[2019-12-04 20:44] panchovm commented on #81
[Atlassian](https://atlassian.design/guidelines/brand/color) does a good job by presenting the primary palette (brand colors in our case) and then introducing the variations. The example above works for visualizing hue, light, and saturation changes, but does not work for how to use them.

[2019-12-05 15:48] makkoncept opened #89 "Vocabulary CDN for styles not found"
**Description**
The CC Search browser Extension uses the following cdn for vocabulary styles https://unpkg.com/@creativecommons/vocabulary@0.0.0-alpha.24/css/vocabulary.css

It is not working and thus the styles in the production version of the extension are not rendering. This is a problem because even if we change the CDN link with an updated one and push a new version of the extension to the st

[2019-12-05 15:48] makkoncept commented on #89
@dhruvkb a gentle ping...

[2019-12-05 15:56] dhruvkb commented on #89
@makkoncept sorry for not noticing early. To account for the repo split, please update the URL to https://unpkg.com/@creativecommons/vocabulary.

[2019-12-05 16:01] makkoncept commented on #89
@dhruvkb I understand, but can there be some temporary solution right now because as I mentioned that it will take at least 1 week before the chrome and firefox browser extension store verifies and pushes the new update.

[2019-12-05 16:03] dhruvkb commented on #89
Yes, I am out right now, but you should see it working in a few hours. I'll get home and immediately push a temporary update to the package. Meanwhile do update the URL and submit it for verification, approval and push.

[2019-12-05 16:03] makkoncept commented on #89
Okay, thanks!

[2019-12-05 16:19] dhruvkb commented on #89
Pushed an update and @kgodey tells me that it is working now. In the meantime, however, you should change the URL as soon as possible. I'd recommend you set it to https://unpkg.com/@creativecommons/vocabulary@0.0.0-alpha.22/css/vocabulary.css as that is the last release before backwards-incompatible, breaking changes were made to the repositories.

[2019-12-05 16:21] #89 closed

[2019-12-06 09:35] SomtochiAma commented on #17
Hello @dhruvkb, can I get started on this issue and I wanted to ask if there is an already existing hamburger icon?

[2019-12-06 09:47] dhruvkb commented on #17
@SomtochiAma please go ahead. We use [Font Awesome](https://fontawesome.com/) in our projects so you can use their [ham](https://fontawesome.com/icons/bars?style=solid)[burger](https://fontawesome.com/icons/hamburger?style=solid)[ icon](https://fontawesome.com/icons/bars?style=solid).

[2019-12-06 13:17] SomtochiAma commented on #17
For clarification, am I also going to remove the icon and left-border plus the hamburder for the tablet and mobile

[2019-12-06 14:14] dhruvkb commented on #17
@panchovm, please weigh in on this with the new header designs.

[2019-12-06 16:25] SomtochiAma commented on #9
I would like to work on this issue, How can I get started. The Twemoji-awesome is no longer maintained but it seems like it can still be used.

[2019-12-06 18:59] dhruvkb commented on #9
@SomtochiAma if Twemoji Awesome is deprecated, you should use [Twemoji](https://github.com/twitter/twemoji) directly. Emoji Awesome has not been updated in a very long time, which would be a problem as the world of emoji is very fast-paced (new ones are added very frequently).

[2019-12-07 05:36] kgodey commented on #17
@dhruvkb are you asking for new designs or for comments on an existing design?

[2019-12-07 12:13] dhruvkb commented on #17
I'm asking him to send a picture of the new header designs (on various screens) so that we can get it implemented along with this change. It is a pretty drastic change as it is so if we had the new designs, we could potentially avoid another huge change a few weeks down the line.

[2019-12-09 03:39] Dhruvi16 commented on #21
Hey! I was stuck with university exams. I will get back to this soon.
Sorry for the delay!!

[2019-12-09 13:13] panchovm commented on #17
@dhruvkb As far as I know, a future project will redesign the header to be implemented across all the CC's websites. Therefore, it might change depending on that final definition. I will share with you the Zeplin project, where you will see the header on different pages.

[2019-12-10 14:30] Dhruvi16 commented on #21
Hey! I have been working on including a popup here and I could do that now. But I am still confused with the way of giving users the ability to toggle the popup. I get that I will use a boolean prop to toggle it but how will the user trigger that?
Thank you
Dhruvi

[2019-12-16 14:27] brenoferreira commented on #73
The Vocabulary components are to be reused in multiple websites, and different websites can have different text. What's the reasoning for the translations being in the Vocabulary, and not in the individual sites in which the Vocabulary is used?

[2019-12-16 16:10] brenoferreira opened #92 "Restyle buttons"
Restyle buttons according to this design document https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Vocabulary.-Design-Library?node-id=0%3A222

[2019-12-16 16:14] brenoferreira opened #93 "Restyle form input fields"
Restyle form input fields according to this design document https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Vocabulary.-Design-Library?node-id=0%3A250

This will include restyling `input[type=text]`, `select` and removing the styles for `input[type=checkbox]` `input[type=radio]`, as these will have default OS styles

[2019-12-16 16:29] dhruvkb commented on #73
Translations are largely left out of Vocabulary, excepts in components where the text is a part of the component. For example, consider the select component. So while most components such as `Button`s leave translations out of Vocabulary, others such as `SelectField`s translate the zeroth option namely "Select"/"चुने". Components such as the `Footer` offer translations in the hope that being stand

[2019-12-17 02:21] dhruvkb commented on #93
I do think that checkboxes and radios will need some styling, no matter how simplistic, for consistency. Without them, they will end up appearing wildly different on different browsers and different operating systems, ranging from boxy ones on Windows to rounded on Mac OS.

[2019-12-17 13:24] brenoferreira commented on #73
I think components like `Select` should have a default text, like "Select", and accept a prop to override that default text, therefore enabling users of the component to localize it accordingly.

[2019-12-17 13:27] brenoferreira commented on #93
That's fine. It's even better because it gives people a look they are more used to in their own environment.

[2019-12-17 16:49] brenoferreira commented on #93
@panchovm Can you confirm that this checkbox/radio button thing is correct?

[2019-12-17 17:54] panchovm commented on #93
The style for basic components like checkboxes and radios should be simple. We will achieve the design consistency and look and feel through more complex areas and sections like header, CTAs, and so on.

[2019-12-26 16:44] Dhruvi16 commented on #21
Is something wrong? I won't be able to proceed with the above doubt. So if anyone can clear that for me that will be awesome.
Thank you.

[2019-12-30 05:49] dhruvkb opened #96 "Define reasonable viewports"
**Description**
Although added to Storybook, the addon for viewports has not been configured and therefore only presents limited viewport options that are not the most illustrative of the features offered by Vocabulary.

**Expected behavior**
The addon should offer a richer selection of screen sizes and devices.

**Additional context**
The documentation for the addon describes the steps to define

[2019-12-31 05:02] dhruvkb opened #97 "Write stories for components with slots"
**Description**
A number of components support slots for versatility and customization. There is no nice way to test out components with slots using the knobs addon for Storybook.

**Problems solved**
It would eliminate the need for stories such as `withText` and allow for a better way to define stories where one could directly enter some Vue code to render within the component.

[2019-12-31 05:10] dhruvkb commented on #97
A hacky solution would be to extend the story `withText` to use `v-html` instead of moustaches. If nothing better comes up, feel free to implement this hack.

[2020-01-02 10:05] Dhruvi16 commented on #96
Hey! I can take this up.
Thank you!
Dhruvi

[2020-01-02 10:32] Dhruvi16 commented on #92
I would love to take this up!
Thank you.
Dhruvi

[2020-01-02 10:36] Dhruvi16 commented on #16
I would love to take this up!
Thank you.
Dhruvi

[2020-01-03 21:14] dhruvkb commented on #96
@Dhruvi16 please go ahead.

[2020-01-04 03:23] dhruvkb commented on #16
@Dhruvi16 you’re assigned to an issue already so let’s go through the issues one by one.

[2020-01-05 09:37] #21 closed

[2020-01-05 11:20] #92 closed

[2020-01-05 11:29] dhruvkb commented on #92
[code]
![Big](https://user-images.githubusercontent.com/16580576/71779329-eedc9c00-2fdb-11ea-975c-4e8690e9b3ec.png)
[code]
![BigBorder](https://user-images.githubusercontent.com/16580576/71779332-f8660400-2fdb-11ea-8448-27a423dab26f.png)
[code]
![Small](https://user-images.githubusercontent.com/16580576/71779334-fb60f480-2fdb-11ea-8306-a619f7924e76.png)
[code]
![Tag](https://user-images.githubuser

[2020-01-05 21:20] dhruvkb opened #104 "Consistent priority of color, brand, tone and indication"
**Description**
Almost all components support functional colours (and shades), brand colours, tonal colours and contextual colours as means of customisation. These are implemented in Stylus using the mixins `colors()`, `brands()`, `tones()` and `indications()` respectively. The order in which they are invoked in the Stylus files determines the priority order should conflicts arise.

**Reproduction

[2020-01-05 21:21] #6 closed

[2020-01-06 04:18] Dhruvi16 commented on #96
Hey! I have a doubt about configuration. I am not sure if I need to configure the addon globally or per component and how does it make a difference?
Thank you
Dhruvi

[2020-01-06 13:51] dhruvkb commented on #96
The addon should be configured globally as all components need to satisfy our responsiveness criteria.

[2020-01-09 14:38] #96 closed

[2020-01-09 17:46] brenoferreira opened #106 "Remove div containing button slot content"
Remove [this div](https://github.com/creativecommons/vue-vocabulary/blob/master/src/elements/Button/Button.vue#L20) inside the `<button>` element which contains the `<slot>` content. This makes it difficult for users of Vocabulary to set their own content styles if they choose to.

[2020-01-09 23:18] #93 closed

[2020-01-10 07:21] theprover97 commented on #106
Hey @brenoferreira , can i work on this issue?

[2020-01-10 07:22] theprover97 commented on #104
Hey @dhruvkb , can i take this issue?

[2020-01-10 07:33] dhruvkb commented on #104
@theprover97 yes please! Go ahead.

[2020-01-10 07:34] dhruvkb commented on #106
One by one @theprover97.

[2020-01-12 04:36] dhruvkb opened #108 "Switch to declarative Storybook syntax"
The Storybook that has been set up in the project uses the old Storybook configuration syntax consisting of `config.js` and `addons.js`. With the new release, Storybook is moving towards a new syntax with the old one to be deprecated and eventually discontinued.

The goal is to implement the [new syntax](https://medium.com/storybookjs/declarative-storybook-configuration-49912f77b78) so that there

[2020-01-12 04:39] dhruvkb commented on #81
With Storybook adding [DocBlocks](https://medium.com/storybookjs/storybook-docs-for-new-frameworks-b1f6090ee0ea), we might not have to think about that in too much detail.

[2020-01-12 04:40] dhruvkb commented on #46
With Stylus files being split into [Vocabulary](https://github.com/creativecommons/vocabulary), this has been resolved.

[2020-01-12 04:40] #46 closed

[2020-01-12 04:41] dhruvkb commented on #14
This issue is being closed in light of the shift from Styleguidist to Storybooks.

[2020-01-12 04:41] #14 closed

[2020-01-12 04:45] dhruvkb commented on #44
This issue is nullified by the move from Styleguidist to Storybook.

[2020-01-12 04:45] #44 closed

[2020-01-12 04:46] dhruvkb commented on #64
Moving from Styleguidist to Storybook invalidates this issue.

[2020-01-12 04:46] #64 closed

[2020-01-13 16:08] dhruvkb opened #109 "Integrate JavaScript Standard Style with ESLint"
**Description**
The project follows [JavaScript Standard Style](https://standardjs.com) but doesn't configure it in ESLint. This causes new developers to either manually configure Standard or end up following their linter and submit problematic changes involving spaces, semicolons and the like.

**Reproduction**
Set up the repository in a fresh editor or IDE. Run code format. A number of code styl

[2020-01-14 02:21] dhruvkb opened #110 "Update Docker Compose configuration file"
The [Docker Compose file](https://github.com/creativecommons/vue-vocabulary/blob/master/Dockerfile) for the project, written in the initial days of the project has now gone out of sync with the capabilities and features of the project. The goal is to update the file in accordance with the current state and eventually push for it to the the standard development environment for the project.

[2020-01-15 21:04] annatuma opened #124 "Remove Vocabulary Styleguide"
**Description**
The Vocabulary Styleguide is still online:
https://cc-vue-vocabulary.netlify.com/styleguide/

Let's remove this. If we can set a redirect on the URL, let's send it to the Storybook instead. It's confusing to have the Styleguide still live.

[2020-01-16 17:50] chidexebere opened #111 "Vocabulary logo links to 404"
**Description**
Vocabulary logo (top left) in storybook links to 404

**Expected behavior**
The logo should take users to the [welcome page](https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/vocabulary-welcome--welcome)

[2020-01-18 10:41] jshreyans commented on #109
I'd like to take this up.
But before I start, if I understand correctly, I just need to add the `standard` field to the `extends` array in [.eslint.rc](https://github.com/creativecommons/vue-vocabulary/blob/master/.eslintrc.js)?

[2020-01-19 02:31] dhruvkb commented on #109
The `extends` array already contains `@vue/standard` and yet the error persists for @chidexebere. I think he should weigh in on this issue.

[2020-01-19 05:28] Dhruvi16 commented on #71
I would like to help here!
Thank you.

[2020-01-19 05:43] Dhruvi16 commented on #108
I would like to take this up!
Thank you.

[2020-01-19 13:51] dhruvkb commented on #108
@Dhruvi16 go ahead. Refer to Vocabulary for a working implementation.

[2020-01-19 14:28] jshreyans commented on #109
@chidexebere how do you propose I move forward with this?

[2020-01-19 14:34] jshreyans commented on #106
Are there any changes required with #113? @dhruvkb

[2020-01-19 15:52] chidexebere commented on #109
@jshreyans can you try reproducing the issue and to see if eslint throws errors and warning?
Like @dhruvkb said, the `extends` array already contains `@vue/standard `  but I was still getting errors with eslint.

I recently upgraded **node** on my system to **version 12.14.1** and am currently not getting those errors. Also I did not run any update on my editor (VS code).

If this error can not be

[2020-01-20 03:16] dhruvkb commented on #106
I haven’t been able to find time to review. Feel free to work on other issues in the meantime.

[2020-01-20 04:28] jshreyans commented on #109
The issue persists for me. I ran these 2 code formatters:
- [Prettier](https://prettier.io/)
- [Vetur](https://github.com/vuejs/vetur)

Both of them made _significant_ code format changes.

[2020-01-20 09:04] jshreyans commented on #110
Working on this

One thing I'd like to point out:
https://github.com/creativecommons/vue-vocabulary/blob/4a4819ad75962e418c4f086927f860197d53329a/Dockerfile#L2
Using the latest version of Node might lead to problems in the sense that the latest release from Node might not support some of the features of this project. Wouldn't it be better to use a stable release like v10 or v12?

[2020-01-21 03:54] dhruvkb commented on #109
Prettier is an opinionated formatter. Since Standard as Prettier follow different rules, they will most certainly clash and override each other. Vetur is tooling, so it internally uses some other tool for the actual lint process, which might have similar clashes. The goal is to check if ESLint in particular, without a formatter like Prettier, will raise errors when run on the codebase.

[2020-01-21 03:57] dhruvkb commented on #110
@jshreyans I guess you're right, LTS would be better.

[code]

[2020-01-21 04:00] dhruvkb commented on #71
@Dhruvi16 go ahead.

[2020-01-21 16:17] jshreyans commented on #109
So I finally ran ESLint on the code _after_ disabling any other formatters/tooling or otherwise and also upgraded my node setup to v12 as @chidexebere suggested.

The errors don't show up after this. I guess it was a problem with the node setup for both of us and the `@vue/standard` setting works fine after all. I think this issue can be closed now.

[2020-01-22 00:26] dhruvkb commented on #109
Great, that’s good to know!

[2020-01-22 00:26] #109 closed

[2020-01-22 15:43] annatuma opened #115 "Sync Button Styles from Vocabulary to Vue Vocabulary"
**Description**
We need to:
1. Remove all existing Button styles from Vue Vocabulary:
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/elements-button--branded
2. Sync Button styles from Vocabulary to Vue Vocabulary, so that all buttons in Vue Vocabulary look like this:
https://cc-vocabulary.netlify.com/storybook/?path=/story/elements-button--button

I.e. Vue Vocabulary should match Vo

[2020-01-22 16:25] annatuma opened #116 "Remove Emoji element from Vue Vocabulary"
**Description**
We want to remove the Emoji Elements (both styles - Outputs and With Text) from Vue Vocabulary, as there is no use case at present:
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/elements-emoji--with-text

[2020-01-22 16:26] annatuma opened #117 "Changes to Vue Vocabulary ChoiceField"
Blocked by: https://github.com/creativecommons/vocabulary/issues/61
Do not commence work until 61 is complete.

**Description**
We want to make updates to the ChoiceField component in Vue Vocabulary:
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/elements-choicefield--branded

1. Remove all existing styles, except Unstyleable
2. Change the name of Unstyleable to be "Checkbox"
3. Chan

[2020-01-22 16:36] annatuma opened #118 "Updates to GitHub Corners"
**Description**

We want to:
1. Remove the Branded and Colored options.
2. Update Invertible to have two knobs: Black on white, or White on black.
3. Keep Corners (they can be left or right).
4. Remove Positions.

Related ticket: https://github.com/creativecommons/vocabulary/issues/52

[2020-01-23 08:28] jshreyans commented on #110
@dhruvkb would we want the user to have the Vue CLI installed globally on the machine via the Dockerfile? The version that I'm working on has the line:
[code]
I just wanted to confirm if this is required or not

[2020-01-23 09:07] jshreyans commented on #110
Also, does the project depend on the Dockerfile to serve Vocabulary? Because the [docker-compose.yml](https://github.com/creativecommons/vue-vocabulary/blob/master/docker-compose.yml) file already contains the serve command.

[2020-01-23 13:43] dhruvkb commented on #110
@jshreyans the commands written in the Dockerfile are run inside the container. So when we write
[code]
the package `@vue/cli` is installed inside the container, not globally on the machine.

The files `Dockerfile` and `docker-compose.yml` go hand in hand. `Dockerfile` is used to build the images and `docker-compose.yml` is used to create and manage containers that use this image.

[2020-01-23 13:54] dhruvkb commented on #118
@annatuma if this is not urgent, can we let volunteers attempt it? It seems like a fairly simple issue to fix while gaining some exposure.

[2020-01-23 13:59] dhruvkb commented on #116
@annatuma it's actually required to make the emoji rendering consistent across browsers and platforms (#9). While not being used in the present in any app, I think it would be hard to argue that no pages of no apps by CC will render emoji in the future.

[2020-01-23 14:26] annatuma commented on #116
That's good background @dhruvkb.

Knowing this, @hugosolar @brenoferreira @kgodey do you see any issue with keeping Emoji in Vue Vocabulary? If we keep it there, we need to add it to Vocabulary as well.

[2020-01-23 14:28] #111 closed

[2020-01-23 16:31] jshreyans commented on #110
@dhruvkb Thanks for the clarifications. I'll be sending a PR shortly.
This was my first encounter with Docker and I'm looking forward to your reviews!

[2020-01-23 17:03] kgodey commented on #116
We mean adding it to the Storybook. I'm fine with keeping it in.

[2020-01-23 17:06] kgodey commented on #118
@dhruvkb yes that's fine

[2020-01-23 23:12] dhruvkb commented on #110
The PR is pretty solid for your first encounter. Good work!

[2020-01-24 08:56] chidexebere commented on #118
Will take this

[2020-01-24 11:04] chidexebere commented on #118
On a second thought, this can go to volunteers from GSOC, since its relatively easy and a good first issue. I will pick up another.

[2020-01-24 18:23] annatuma opened #120 "Remove Heading element and all styles from Vue Vocabulary"
**Description**
We want to remove the Heading element, and all of its styles - Branded, Colored, Indicating, With Text, Levels.

We want to do this because we are using the Typography section for anything relevant to headings (size, color, etc.)

[2020-01-24 18:32] annatuma opened #121 "Changes to ImageView Element"
**Description**
We want to remove the Scaled style from the ImageView Elements. We have no present use case, and if we did have a need there are other ways to solve this (e.g. through containers).

We will continue to make use of Circleable and Hoverable. These should be updated to match the Figma DL:
https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=576%3A0

We also want to

[2020-01-24 18:41] annatuma opened #122 "Remove InputField Element & All Styles"
**Description**
We'd like to remove the InputField element and all associated styles:
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/elements-inputfield--branded

We are doing this because we are instead making use of the ChoiceField element, renaming it, and adding text input as an option there.

[2020-01-24 19:00] annatuma opened #123 "Updates to LicenseIconography"
**Description**
We want to make some changes to the LicenseIconography element:
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/elements-licenseiconography--creative-commons

1. Break each icon into individual Styles, to match the Downloads page:
https://creativecommons.org/about/downloads

2. Remove "Popupable" style.

[2020-01-25 07:51] jshreyans commented on #118
Can I take this up?

[2020-01-27 15:40] annatuma opened #125 "Remove Paragraph Element and styles"
**Description**
We'd like to remove the Paragraph element and associated styles from Vocabulary. The use cases are captured in Typography.

[2020-01-27 15:45] annatuma opened #126 "Remove Rating element & styles"
**Description**
We'd like to remove the Rating element and associated styles from Vocabulary. There is currently no use case for Rating.

[2020-01-27 15:57] annatuma opened #127 "Remove SelectField element and styles"
Blocked by: https://github.com/creativecommons/vue-vocabulary/issues/117

We are moving one SelectField style up to a new "Form" element. The rest we should remove. This should not happen until issue #117 is complete.

[2020-01-27 16:01] annatuma opened #128 "Remove Shield element & styles"
**Description**
We want to remove the Shield element and all associated styles from Vocabulary. There is presently no use case: https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/elements-shield--scaled

[2020-01-27 16:03] annatuma opened #129 "Remove Statistic element and associated styles"
**Description**
We'd like to remove the Statistic element and associated styles:
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/elements-statistic--branded

The use case for number styling is captured in Typography.

[2020-01-27 16:06] annatuma opened #130 "Remove SwitchField & associated elements"
**Description**
We'd like to remove the SwitchField and all associated elements:
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/elements-switchfield--branded

There's currently no use case.

[2020-01-27 16:11] annatuma opened #131 "Remove Container, Grid, GridCell"
**Description**
We'd like to remove Container, Grid, and GridCell elements and associated styles. We intend to replace them with a Grid from a third-party library.

Note: before this work happens we'll research a new system, and update the existing Vocabulary site.

[2020-01-27 16:14] annatuma commented on #131
Note, blocked by: https://github.com/creativecommons/vocabulary/issues/76

[2020-01-27 16:22] annatuma opened #132 "Remove Section (from Layouts) and Associated Styles"
We'd like to remove Section (from Layouts) and all associated styles:
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/layouts-section--indicating

[2020-01-27 16:31] annatuma opened #133 "Remove Tabbed (from Layouts) and Associated Styles"
**Description**
We'd like to remove Tabbed (from Layouts) and all associate styles:
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/layouts-tabbed--branded

Note that we are maintaining TabbedPane (in use by Extension), and will be making design updates to it, to reflect use cases in License Chooser and CC Search.

[2020-01-27 16:35] kgodey commented on #118
I'll leave assigning this issue to @dhruvkb

[2020-01-27 16:36] annatuma opened #134 "Remove TableCell (Layouts) and style"
**Description**
We want to remove TableCell from Layouts in Vocabulary, as well as its one associated style (Indicating): https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/layouts-tablecell--indicating

[2020-01-27 16:42] annatuma opened #135 "Create the Logo component"
**Description**
We want to change the name of the BrandImagery (in Patterns) to be "Logos". We want to move it from Patterns to Elements.

[2020-01-29 01:56] Dhruvi16 commented on #71
Hey! I am not clear about the problem. Could you please share some resources?
Thank you!

[2020-01-29 15:46] panchovm commented on #117
The form page has been updated with the above changes.

[2020-01-29 16:45] Dhruvi16 commented on #5
Hey! I found this article for automated npm publishing - [Article](https://medium.com/techmindtickle/continuous-deployment-for-publishing-packages-4e5ef327ea37)

I read about semantic_release and it looks great - [Check it out](https://github.com/semantic-release/semantic-release)

[2020-01-29 20:31] annatuma opened #136 "Update Definition (Patterns)"
**Description**
We want to make changes to the Definition (in Patterns).

1. Remove Colored and Indicating.
2. Rename Branded to be "Default"
3. Rework "Default" to only match the style necessary for the Vocabulary homepage.

We will eventually switch to a logo that matches the rest of CC products.

[2020-01-30 20:00] annatuma opened #137 "Remove Navigation, NavigationLink, and PopUp"
**Description**
We want to remove the following three pages and their styles from Vue Vocabulary:
- Navigation
- NavigationLink
- PopUp

[2020-01-30 20:01] annatuma opened #138 "Remove Quote"
Blocked by Footer Updates:
https://github.com/creativecommons/vocabulary/issues/92

**Description**
We want to remove the Quote page and associated styles from Vue Vocabulary:
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/patterns-quote--branded

[2020-01-30 20:06] annatuma opened #139 "Remove Trail and TrailCrumb"
**Description**
We want to move Trail and TrailCrumb from Vue Vocabulary:
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/patterns-trail--branded
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/patterns-trailcrumb--with-icon

[2020-02-01 01:28] kgodey opened #141 "Audit Vue Vocabulary issues"
Audit all current Vue Vocabulary issues and PRs and make sure they are:
(1) accurate
(2) descriptive
(3) tagged correctly
(4) relevant

Make updates and close as needed.

[2020-02-02 16:25] AmanR28 commented on #4
Can I also help in writing some tests?

[2020-02-03 10:38] AmanR28 opened #142 "Write More Test"
**Description**

Currently, there are tests only for Heading and Paragraph in the Elements section and for token sections.

**Problems solved**

It might happen that the new code may break something.

**Additional context**

1 test suite per PR

**Want to take up?**

[Yes|

[2020-02-03 17:33] AmanR28 commented on #142
Can I write tests for button section in elements?

[2020-02-03 18:26] AmanR28 commented on #118
Can I work on this?

[2020-02-04 08:19] #110 closed

[2020-02-04 08:36] dhruvkb commented on #142
This is a duplicate of #4. Closing.

[2020-02-04 08:36] #142 closed

[2020-02-04 08:37] dhruvkb commented on #4
@AmanR28 we are currently revamping the architecture of Vue Vocabulary. Your contributions to [creativecommons/vocabulary](https://github.com/creativecommons/vocabulary) will be more impactful in the long term.

[2020-02-04 08:39] dhruvkb commented on #106
This is superseded by #115.

[2020-02-04 08:39] #106 closed

[2020-02-04 08:48] dhruvkb commented on #24
This issue that has, unfortunately, been rendered irrelevant with the usage of Bulma as the base for Vocabulary. Closing.

[2020-02-04 08:48] #24 closed

[2020-02-04 09:02] dhruvkb commented on #7
Closing this PR as it goes against the current flow of Vocabulary as a project.

[2020-02-04 09:02] #7 closed

[2020-02-04 16:23] brenoferreira commented on #9
Are we going to be using Emoji so extensively to require use of Twemoji? What do you think about we using native emojis for now and if we realise later that we're having issues that Twemoji might fix, we can adopt it later

[2020-02-05 12:03] panchovm opened #149 "Update Locale to match Figma Design Library"
We need to update the Locale element based on the Design Library file

[2020-02-05 14:42] Blackcipher101 commented on #118
If no one is working on it can I work on it

[2020-02-05 20:56] dhruvkb commented on #118
@AmanR28 and @Blackcipher101  apologies for not being able to assign it to you, please feel free to pick one of the many other issues and message me on Slack if I take too long.

[2020-02-06 07:00] chidexebere commented on #133
The TabbedPane is part of the Tabbed component. Removing the Tabbed component also means removing the TabbedPane. Should I still go ahead and remove the Tabbed (which will include TabbedPane?

[2020-02-06 07:09] chidexebere commented on #134
TableCell makes up the Table component. Removing TableCell will also mean removing the Table component.  Should I go ahead and remove the TableCell and Table component?

[2020-02-06 16:36] kgodey commented on #133
We want to keep one of the Tabbed components since it's used in the browser extension. I'll defer to @dhruvkb on how best to refactor so that we only have one of the components.

[2020-02-07 08:15] jshreyans commented on #118
I've sent a PR for this (#155) but I'm not too sure if my implementation of this feature is correct. Looking forward to reviews!

[2020-02-07 15:05] dhruvkb commented on #133
@annatuma and @kgodey, as @chidexebere said the `Tabbed` component contains one or more `TabbedPane` components. The tabbed panes contain the content and the parent determines which to activate and designates that one with the appropriate class. They are two parts of a whole.

[2020-02-07 15:08] dhruvkb commented on #133
The only refactoring I can see is if we enclose the pane within the `Tabbed` component as [`Tabbed.Pane`](https://github.com/Semantic-Org/Semantic-UI-React/blob/master/src/modules/Tab/Tab.js#L79) the way Semantic UI handles it.

[2020-02-07 15:44] dhruvkb commented on #135
@annatuma is this just a name/classification change or will we be redoing the component entirely from the ground up based on the discussion in Asana?

[2020-02-07 15:52] dhruvkb commented on #134
@annatuma, @chidexebere is right here, the `Table` is contains `TableCell`s much like in #133. A similar solution could be considered here if that's okay?

[2020-02-07 15:58] dhruvkb commented on #123
@annatuma I would request some more clarification for point 1 which is to break each icon down. Each icon is, as of now, already an individual. They are just shown together in the stories.

As for point 2, the popups were added to address #21. Does the redesigned license chooser not need these popups anymore?

[2020-02-07 16:11] #128 closed

[2020-02-07 16:11] #126 closed

[2020-02-07 16:12] #129 closed

[2020-02-07 16:14] #130 closed

[2020-02-07 16:21] #139 closed

[2020-02-07 16:31] #122 closed

[2020-02-07 16:44] dhruvkb commented on #124
Seeing as @panchovm has been crafting detailed rules for design usage in Figma, the styleguide has been rendered redundant. I'll take my words back and re-activate the issue.

[2020-02-08 12:24] Blackcipher101 opened #156 "Link in Readme broken"
Link in the readme is wrong
![ ](https://media.giphy.com/media/XEPC5ZIXqKpn1iwyPb/giphy.gif)

[2020-02-09 14:19] aashimgarg opened #160 "the css color property is wrongly used."
The CSS property for the heading is wrongly used that why it not showing the heading in the orange color at various places.

Relevant screenshot :-
![Screenshot from 2020-02-09 19-24-36](https://user-images.githubusercontent.com/55639487/74103796-28716b80-4b75-11ea-9f2a-a2d1afd30be4.png)

[2020-02-09 20:32] aashimgarg opened #162 "The section does not have a large border radius."
The section does not have a large border radius as mentioned in the texts.

[2020-02-09 21:32] aashimgarg opened #164 "Adding a bottom to up button."
As adding a bottom to up button will help the user to get to the top of the page directly without even scrolling.

[2020-02-09 21:32] aashimgarg commented on #164
I am working on this issue.

[2020-02-10 12:17] panchovm opened #165 "Add the Progress layout"
Add the Progress layout and its components: the white boxes to indicate the different states. The section is in Design Library.

[2020-02-11 17:13] dhruvkb commented on #162
@aashimgarg we are not working on the stylistic aspects on components at the moment pending redesign by our designer. Closing.

[2020-02-11 17:13] #162 closed

[2020-02-11 17:13] #17 closed

[2020-02-11 17:14] dhruvkb commented on #164
@aashimgarg this component is not required at the moment and is not on our roadmap. Sorry for the effort but we'll be closing.

[2020-02-11 17:14] #164 closed

[2020-02-11 17:16] #156 closed

[2020-02-11 17:20] dhruvkb commented on #160
We're deleting the Styleguide eventually so fixing minor bugs in the Styleguide (which there will be a lot of, given that it hasn't been updated in a long time) is not on our roadmap.

[2020-02-11 17:20] #160 closed

[2020-02-11 18:05] #137 closed

[2020-02-12 07:52] #125 closed

[2020-02-12 07:56] #120 closed

[2020-02-12 08:30] dhruvkb opened #167 "Update usage and contribution guidelines"
Once Vocabulary has been redeveloped, the usage and contribution guidelines will be out of date and will need major rewritings to be in sync with the new codebase. The goal is to update these guidelines and instruction documents.

[2020-02-12 08:30] dhruvkb commented on #167
References creativecommons/vocabulary#120.

[2020-02-12 08:38] dhruvkb commented on #5
References creativecommons/vocabulary#121.

[2020-02-12 09:18] dhruvkb commented on #9
I agree with @brenoferreira that we can always add the component again if required. Mainly flags will be the main issue without Twemoji as they are generally rendered using emoji ligatures which is a relatively new and not widely adopted technology.

[2020-02-12 09:22] dhruvkb commented on #124
This has been fixed in 37ebcf1c.

[2020-02-12 09:22] #124 closed

[2020-02-12 18:53] kgodey commented on #133
@dhruvkb Could we just have a single `TabbedPane` component that has everything in both Tabbed and TabbedPane? We don't need multiple variants of it.

[2020-02-12 18:53] kgodey commented on #134
@dhruvkb I'm not sure what "a similar solution" means, please describe in detail what the resulting component would look like.

[2020-02-12 20:47] kgodey commented on #123
@dhruvkb We wanted each icon to have a separate story for clarity.

[2020-02-12 20:48] kgodey commented on #135
@dhruvkb this is just a name change.

[2020-02-13 02:36] dhruvkb commented on #123
Okay, that then is a fairly simple change.

[2020-02-13 02:39] dhruvkb commented on #149
Depends on the redesign on the `SelectField` component.

[2020-02-13 20:26] panchovm opened #170 "Create the Table component"
**Description**
With the `Table` component having been built in Vocabulary with the markup and styling already defined, it's time to get the Vue version of the component.

The Table component is a layout and as such has a lot of markup involved for even the very simple usecases. Having a Vue component with `slot`s takes a huge load off the developer to focus on the main content.

References:
- cre

[2020-02-13 20:56] panchovm opened #171 "Update the style of Tab component"
Update the style of Tab component based on the element available on [Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=933%3A0&viewport=25%2C233%2C0.47611111402511597).

[2020-02-15 10:15] jshreyans opened #172 "Update documentation according to updated Docker support"
**Description**
The Docker configuration has recently been updated after #119. The new configuration is in accordance with the scale of the application and supports building the website as well as the storybook. However, the [INSTRUCTIONS.md](https://github.com/creativecommons/vue-vocabulary/blob/master/INSTRUCTIONS.md) file could have more details about the build process and the ports to use to a

[2020-02-15 13:19] dhruvkb commented on #121
@annatuma I think we cannot name the element `Image` as it is one of HTML reserved tags.

[2020-02-18 03:01] Dhruvi16 commented on #123
I would like to take this up.
Thank you.
Dhruvi

[2020-02-18 12:00] dhruvkb commented on #123
@Dhruvi16 please go ahead.

[2020-02-18 19:11] #108 closed

[2020-02-18 23:43] kgodey commented on #121
@dhruvkb could we name the Vocabulary class Image and the Vue Vocabulary component `ImageView`?

[2020-02-19 06:11] techievivek opened #174 "Storybook link is not working in README.md"
**Description**
Link to storybook in README.md gives a 404 error.

**Reproduction**
Click on the link in Demo section of README.md

**Expected behaviour**
Should redirect to CC-vocabulary storybook.

**Screenshots**

![cc-vocabulary storybook error](https://user-images.githubusercontent.com/35863227/74806704-b9caa580-530c-11ea-8065-4895802717c0.png)

**Additional context**
I am also updating the l

[2020-02-19 16:57] dhruvkb commented on #121
@kgodey having common names for the classes and the elements would be ideal.

[2020-02-19 17:07] dhruvkb opened #176 "Delete Markdown files from the repo"
Since the styleguide has been deleted, the repository contains a lot of redundant `.md` files. Being incorrect, outdated and misleading, they must be deleted.

[2020-02-19 17:58] #123 closed

[2020-02-19 18:01] #174 closed

[2020-02-19 18:43] dhruvkb commented on #172
@jshreyans upon further inspection, the `INSTRUCTIONS.md` contains the [instructions for setting up the project with Docker](https://github.com/creativecommons/vue-vocabulary/blob/master/INSTRUCTIONS.md#dockerised-setup-recommended).

[2020-02-19 20:19] kgodey commented on #121
Okay, we can stick with `ImageView`

[2020-02-19 22:43] kgodey commented on #149
@dhruvkb what exactly do you need here to be unblocked and from whom?

[2020-02-19 22:48] kgodey commented on #9
I'm still not clear how this would be used in practice for emojis. Would emojis automatically be detected and rendered correctly? How would that work in core Vocabulary? @dhruvkb

[2020-02-20 04:09] jshreyans commented on #172
Yes, this setup does seem fine. I just thought we could make it more detailed but that might make it difficult for first-time contributors. We can close this issue then?

[2020-02-20 04:13] jshreyans commented on #176
I'd like to take this up

[2020-02-20 05:58] Dhruvi16 commented on #170
I know it is assigned already. But still wanted to ask if I can help with this?
Thank you
Dhruvi.

[2020-02-20 09:13] dhruvkb commented on #176
@jshreyans go ahead, this shouldn't take long.

[2020-02-20 09:13] #172 closed

[2020-02-20 11:47] dhruvkb commented on #9
The current implementation of the `Emoji` component replaces emoji codepoints with the appropriate SVG or PNG files. Although this leads to consistency in presentation and is actually recommended by Twemoji itself, replacing text with images is not optimal.

To avoid having to scan the entire DOM for emoji, we came up with the `Emoji` component and tag which always parses its contents using the Tw

[2020-02-20 12:01] #118 closed

[2020-02-21 16:34] techievivek commented on #176
@dhruvkb If this is taking time, I would like to give it a try.
Thank you

[2020-02-21 19:34] dhruvkb commented on #176
@techievivek we generally have a one week of inactivity rule before the issue is unassigned. It would be a good idea to find another issue in the meantime.

[2020-02-21 20:03] techievivek commented on #176
@dhruvkb Ok sure. Thank you.

[2020-02-22 08:35] jshreyans commented on #176
@dhruvkb Sorry for the delay. Will send a PR today. Just to clarify, by the redundant md files, we mean the files that accompany each component in their respective folders right?

[2020-02-23 21:16] #176 closed

[2020-02-23 21:18] dhruvkb commented on #81
This is no longer meaningful.

[2020-02-23 21:18] #81 closed

[2020-02-24 17:53] techievivek opened #180 "Storybook link is not updated in README.md"
**Description**
Link to storybook in README.md gives a 404 error.

**Reproduction**
Click on the **Storybook** link in Demo section of README.md

**Expected behavior**
Should redirect to CC-vocabulary storybook.

**Screenshots**
![storybook-error](https://user-images.githubusercontent.com/35863227/75177655-99f80f00-575c-11ea-8515-f0093ff0dc35.png)

**Want to take up?**

Yes

[2020-02-24 17:56] techievivek commented on #180
@dhruvkb Please have a look, I have updated the link.

[2020-02-24 18:39] dhruvkb commented on #149
1. The `SelectField` component design needs to be updated in Vocabulary first (could be done by anyone).
2. A new Vocabulary build needs to be published by @brenoferreira.
3. The dependency needs to be updated in Vue Vocabulary by me.
4. The `SelectField` component needs to be updated with the new design by anyone.
5. This issue can be worked on and resolved.

[2020-02-24 18:44] techievivek commented on #180
@dhruvkb Can you please check it it merging or not?

[2020-02-24 19:18] #180 closed

[2020-02-24 21:13] kgodey commented on #170
I'll leave assignment up to @dhruvkb and @hugosolar.

[2020-02-24 21:19] kgodey commented on #149
@dhruvkb could you make tickets for those steps or link to the appropriate tickets?

[2020-02-28 07:48] ravisaxena23 opened #185 "Failing test Cases"
**Description**
test cases are failing as some files does not  exists

**Reproduction**
run ```npm run test:unit```

**Expected behavior**
all test cases should pass.

**Screenshots**
![Screenshot from 2020-02-28 13-16-21](https://user-images.githubusercontent.com/44205807/75520944-b92cc000-5a2c-11ea-8625-78ee164a3b40.png)

[Yes]

[2020-02-29 20:15] #185 closed

[2020-03-04 18:56] #141 closed

[2020-03-04 19:03] dhruvkb commented on #97
This no longer applies as all existing stories are deprecated and will be rewritten.

[2020-03-04 19:03] #97 closed

[2020-03-04 20:39] kgodey commented on #16
Closing this because we don't have a Navigation component in the new Figma Design Library. We'll reopen if needed.

[2020-03-04 20:39] #16 closed

[2020-03-04 20:43] kgodey commented on #115
We're removing buttons from Vue Vocabulary.

[2020-03-04 20:43] #115 closed

[2020-03-04 20:46] kgodey commented on #73
I'm going to close this because we're simplifying Vocabulary and may not have translations directly in there.

[2020-03-04 20:46] #73 closed

[2020-03-04 20:46] kgodey commented on #72
I'm going to close this because we're simplifying Vocabulary and may not have translations directly in there.

[2020-03-04 20:46] #72 closed

[2020-03-04 20:49] kgodey commented on #71
Unassigned @Dhruvi16 since there hasn't been activity on this issue. Also adding a "not ready for work" label because Vue Vocabulary is undergoing large changes.

[2020-03-05 01:41] mercyikpe commented on #171
Hello, am interested in working on this.

[2020-03-05 01:45] mercyikpe commented on #165
I'll like to implement this.

[2020-03-05 02:40] dhruvkb commented on #65
The feature falls outside our current plan for the project, even more so with the removal of the token system entirely from Vocabulary. Therefore closing.

[2020-03-05 02:40] #65 closed

[2020-03-05 08:09] dhruvkb commented on #171
This is blocked at the moment by creativecommons/vocabulary#127.

[2020-03-05 08:10] dhruvkb commented on #165
@mercyikpe start with creativecommons/vocabulary#112.

[2020-03-06 08:36] mercyikpe commented on #165
Alright, Thank you.

[2020-03-08 15:01] dhruvkb commented on #136
With the Vocabulary homepage being in Storybook, this component is no longer necessary.

[2020-03-08 15:01] #136 closed

[2020-03-09 12:29] miracle-E commented on #167
I'm an outreachy applicant and would love to work on this.

[2020-03-11 16:47] dhruvkb commented on #9
@kgodey finally what are we doing about Emoji? Do we parse them and render SVGs for consistency or do we allow the OS to handle it without our interference?

[2020-03-11 16:53] dhruvkb commented on #13
A11y should be a part of the component's development lifecycle from inception to finish rather than an afterthought.

[2020-03-11 16:53] #13 closed

[2020-03-11 16:53] dhruvkb commented on #121
This is blocked till the corresponding component exists in Vocabulary.

[2020-03-11 16:56] dhruvkb commented on #117
ChoiceField is now just a standard checkbox and correspondingly will not have a component in Vocabulary or Vue Vocabulary.

[2020-03-11 20:07] kgodey commented on #117
Yes, we can.

[2020-03-11 20:07] #117 closed

[2020-03-11 20:17] kgodey commented on #9
Closing this, see my comment here: https://github.com/creativecommons/vocabulary/issues/102

[2020-03-11 20:17] #9 closed

[2020-03-16 05:51] coderbabu10 opened #190 "giving link title in footer for better accessibility."
## Problem Description
we can add link title in footer for better accessibility,as it will help the user to know the given links in more clear way.

## Solution Description
we can add the title tag for the links.

## Additional context
i would like to take this up.

[2020-03-16 08:20] dhruvkb commented on #190
@coderbabu10 there's actually a redesign of footer (creativecommons/vocabulary#92) in progress in `creativecommons/vocabulary`. I'm not sure your issue will still be relevant after that is done.

[2020-03-16 09:12] coderbabu10 commented on #190
Sir,I think having it will allow the user to know it in more descriptive way as it will come under the betterment of accessibility.

[2020-03-16 11:51] dhruvkb commented on #190
@coderbabu10 I get the importance of adding the `title` attributes. I'm just concerned that after the redesign which is just around the corner, the code will change and any effort put into this will go wasted.

[2020-03-16 14:54] Bob160 commented on #135
@dhruvkb and @kgodey can I please handle this issue?

Thanks

[2020-03-16 16:06] dhruvkb commented on #135
@Bob160 sure, go ahead.

[2020-03-17 21:21] Bob160 commented on #135
@dhruvkb , I intend to:
1.  Change BrandImagery folder to Logo,  same with the two files inside... The. vue file and. stories.js file;
2. Then, inside the files change all instances of BrandImagery to Logo;
3. Then move the folder to elements; and lastly,
4. Change all instances of patterns to elements.

Is this the way to go? What do you think?

[2020-03-17 21:28] Bob160 commented on #135
@dhruvkb and @annatuma @kgodey @hugosolar

 I intend to:
1.  Change BrandImagery folder to Logo,  same with the two files inside... The. vue file and. stories.js file;
2. Then, inside the files change all instances of BrandImagery to Logo;
3. Then move the folder to elements; and lastly,
4. Change all instances of patterns to elements.

Is this the way to go? What do you think?

[2020-03-18 06:35] dhruvkb commented on #135
The increased scope of the issue is to create the `Logo` component that takes the file name and directly renders the logo using the SVG assets from the `@creativecommons/vocabulary` package that is installed as a dependency of `@creativecommons/vue-vocabulary`.

[2020-03-18 12:16] dhruvkb commented on #170
Since Vue Vocabulary is not being actively worked on and @Dhruvi16 has considerable experience with `creativecommons/vocabulary`, I think it would be okay to let her try this.

[2020-03-20 19:14] dhruvkb opened #193 "Create the Header component"
**Description**
With the `Header` component having been built in Vocabulary with the markup and styling already defined, it's time to get the Vue version of the component.

The Header component is a pattern and as such has a lot of markup involved for even the very simple usecases. Having a Vue component with `slot`s takes a huge load off the developer to focus on the main content.

References:
-

[2020-03-20 19:19] dhruvkb commented on #135
With some new developments, we've decided to skip building the Logos component entirely opting to directly use [the SVG assets of the logos from Vocabulary](https://cc-vocabulary.netlify.com/?path=/story/assets-logos--cc-logomark).

[2020-03-20 19:19] #135 closed

[2020-03-20 19:25] Bob160 commented on #193
@dhruvkb can I get to work on this?

Thanks

[2020-03-21 13:51] dhruvkb commented on #171
@mercyikpe this is available now? Still interested to work on it?

[2020-03-23 16:04] megha070 commented on #171
@dhruvkb I would like to take this up.

[2020-03-26 16:03] Tanuj22 commented on #171
@dhruvkb Can I work on this?

[2020-03-28 12:28] #149 closed

[2020-03-29 01:12] jahnvigupta commented on #193
@Bob160 are you finding some trouble solving this issue? Do you need help or don't want to continue?

[2020-03-29 08:21] Bob160 commented on #193
@jahnvigupta, I would appreciate your help. Thanks

[2020-03-30 17:46] dhruvkb commented on #71
Since simple elements are not even going to be implemented anymore, this issue doesn't mean much anymore.

[2020-03-30 17:46] #71 closed

[2020-03-30 17:51] dhruvkb opened #196 "Create the Footer component"
**Description**
With the `Footer` component having been built in Vocabulary with the markup and styling already defined, it's time to get the Vue version of the component.

The Footer component is a pattern and as such has a lot of markup involved for even the very simple usecases. Having a Vue component with `slot`s takes a huge load off the developer to focus on the main content.

References:
-

[2020-03-30 18:02] dhruvkb opened #197 "Create the Tab component"
**Description**
With the `Tab` component having been built in Vocabulary with the markup and styling already defined, it's time to get the Vue version of the component.

The Tab component is a layout and as such has a lot of markup involved for even the very simple usecases. Having a Vue component with `slot`s takes a huge load off the developer to focus on the main content.

As a hint, Tab would

[2020-03-30 18:02] dhruvkb commented on #171
Superseded by #197.

[2020-03-30 18:02] #171 closed

[2020-03-30 18:03] dhruvkb commented on #134
Superseded by #170.

[2020-03-30 18:03] #134 closed

[2020-03-30 18:26] dhruvkb commented on #190
This will be taken care of in the implementation of #196.

[2020-03-30 18:26] #190 closed

[2020-03-30 18:31] dhruvkb commented on #167
@miracle-E I'm not sure if you'd be interested after all this while but there's no harm in asking. For reference,  see creativecommons/vocabulary#214 and creativecommons/vocabulary#272.

[2020-03-30 18:32] dhruvkb commented on #165
We're not really sure if we'll implement this in Vue Vocabulary.

[2020-03-30 18:32] #165 closed

[2020-03-30 21:09] sjs8906 commented on #196
@dhruvkb I'd like to work on this please :)

[2020-03-31 04:07] dhruvkb commented on #196
@sjs8906 please go ahead. Let me know if you face any issues.

[2020-03-31 05:59] jahnvigupta commented on #197
@dhruvkb I want to take this.

[2020-03-31 10:28] Tanuj22 commented on #193
@Bob160 Are you working on this? I would like to take up this issue.

[2020-03-31 10:30] Bob160 commented on #193
@dhruvkb, please, kindly reassign this issue to @jahnvigupta. Thanks

[2020-03-31 10:32] Bob160 commented on #193
@Tanuj22 as @jahnvigupta had asked earlier, I think it's only fair to ask that it be reassigned to her.

[2020-04-03 18:17] megha070 opened #199 "Add usage and contribution guidelines"
**Description**
So as to help newbies get started with creative commons and Vue vocabulary a need of one such guide is mandatory.

**Problems solved**
This is to be done for consistency and, more importantly, because it enables us to have documentation on the landing page.

**Alternatives**

**Additional context**

**Want to take up?**

[Yes|No]
yes

[2020-04-10 08:42] megha070 opened #201 "Use Github actions for CI"
**Description**
GitHub Actions offers a free and unlimited CI package for open source repositories with features rivalling and integrations surpassing those offered by CircleCI. The goal is to move our CI pipeline from CircleCI to GitHub Actions to run tests on all branches and pull requests.

**Problems solved**
Switching to a better CI provider leads to better productivity in the long run. Plus

[2020-04-12 05:21] #201 closed

[2020-04-12 06:56] dhruvkb commented on #133
This issue has been superseded by #197.

[2020-04-12 06:56] #133 closed

[2020-04-12 14:26] #116 closed

[2020-04-12 14:26] #121 closed

[2020-04-12 14:26] #127 closed

[2020-04-12 14:26] #131 closed

[2020-04-12 14:26] #132 closed

[2020-04-12 14:26] #138 closed

[2020-04-12 14:26] hemanth-hk commented on #196
Hey @sjs8906, are you still working on this?

[2020-04-12 14:27] dhruvkb commented on #196
@hemanth-hk I don't think they are. You go ahead with it.

[2020-04-12 14:35] dhruvkb opened #204 "Add build job to GitHub Actions"
Like Vocabulary, add a build job to the GitHub Actions CI workflow in `.github/workflows/ci.yml`.

[2020-04-12 14:38] dhruvkb opened #205 "Replace CircleCI checks with GitHub Actions"
With GitHub Actions integrated, remove the CircleCI configuration file and setup GitHub Actions as the required checks in the `creativecommons/ccos-scripts` repository.

[2020-04-12 15:47] megha070 commented on #204
@dhruvkb I would like to take this up.

[2020-04-13 03:52] #204 closed

[2020-04-13 17:49] hemanth-hk commented on #196
Before I execute I wanted to know if my "plan" is correct
Basically there is a `Footer.vue` in the `patterns/Footer` dir which I will write according to the references
provided and then bring in into the storybook to kind of isolate and test it... and that should be it, right?

[2020-04-14 02:08] dhruvkb commented on #196
Yes @hemanth-hk, that's pretty much it.

[2020-04-14 12:07] hemanth-hk commented on #196
I was trying to write the footer component and noticed that the styles were not applying to the footer, So I went into the `node_modules` and found that classes like main-footer, etc are not present, so I looked into the `package.json` to see the version of vocabulary and it was `^1.0.0-beta.2` which is a deprecated version

---

## Screenshots
### CSS and node_modules
![vocab-footer](https://user

[2020-04-14 12:34] dhruvkb commented on #196
Yes @hemanth-hk, you should install the latest version.

[2020-04-14 12:36] hemanth-hk commented on #196
So should I create an issue or include this in the `PR` that I'll send for this issue? @dhruvkb

[2020-04-14 14:17] dhruvkb commented on #196
@hemanth-hk since it's important to the resolution of the issue so no need to create a separate issue and PR, do it here itself.

[2020-04-14 14:28] dhruvkb commented on #199
This is a duplicate of #167.

[2020-04-14 14:28] dhruvkb commented on #199
d

[2020-04-14 14:28] #199 closed

[2020-04-14 14:32] dhruvkb commented on #5
Waiting for GitHub Actions to replace CircleCI #205 and then we can use GitHub Actions
[code]
to automatically push new versions to npm whenever a new release is tagged on GitHub.

[2020-04-14 17:52] SaurabhAgarwala commented on #205
@dhruvkb Can I work on this issue?

[2020-04-15 01:34] dhruvkb commented on #167
Resolved by #200.

[2020-04-15 01:34] #167 closed

[2020-04-15 15:48] hemanth-hk commented on #196
@dhruvkb  I opened a draft pull request, please check if I am in the right direction
also, I have some questions regarding this:
 - Which class will give me the cc logomark, I tried many classes but didn't get, so I just pasted the SVG for the time being?
 - To meet the design I had to change a little bit of the structure of the columns, is it ok?
 - Where should I place the slots or how will I kn

[2020-04-15 19:08] SaurabhAgarwala commented on #5
@dhruvkb Can I work on this now?

[2020-04-15 19:44] #205 closed

[2020-04-16 01:57] dhruvkb commented on #196
@hemanth-hk  you can use the CC logomark by taking the asset from Vocabulary.
[code]

We're not allowed to change the design. But if the footer CSS is not compliant with the design, open an issue in Vocabulary and fix it there. We cannot patch over Vocabulary in this repo.

@panchovm can elaborate on which parts of the footer should be customisable on a site-to-site basis and which are fixed. Whic

[2020-04-16 15:05] panchovm commented on #196
The part that can change depending on the site is **the set of links** above the newsletter subscription. All the remained parts are equal in every site.

[2020-04-16 16:07] dhruvkb opened #215 "Fix broken badge in the README.md file"
**Description**
With the removal of CircleCI, the corresponding badge in `README.md` is broken. Replace with the GitHub Actions badge as seen in `creativecommons/vocabulary`.

[2020-04-16 16:09] megha070 commented on #215
I would like to take this up.

[2020-04-16 16:23] #197 closed

[2020-04-17 10:50] #215 closed

[2020-04-17 10:57] dhruvkb opened #217 "Remove duplicated/redundant information from README.md file"
**Description**
The Vue Vocabulary `README.md` file contains a lot of redundant information. The goal is to make it lean and succint like [that of Vocabulary](https://github.com/creativecommons/vocabulary/blob/master/README.md).

[2020-04-17 11:40] jahnvigupta commented on #217
@dhruvkb I want to take this issue.

[2020-04-18 02:43] #217 closed

[2020-04-25 12:55] #5 closed

[2020-05-28 07:04] Dishebh opened #220 "update vocabulary logo in the readme file"
**Description**

Replace old vocabulary logo with the new one in the readme file.

**Want to take up?**

[Yes]

[2020-05-28 07:05] Dishebh commented on #220
@dhruvkb please let me know if I can work on it. Thanks!

[2020-05-28 13:45] dhruvkb commented on #220
Yes please. You can see creativecommons/vocabulary#416 and creativecommons/vocabulary#419 for reference.

[2020-05-28 16:24] Dishebh commented on #220
Opened a PR for the issue.

[2020-05-28 17:04] Dishebh opened #222 "Create buttons component"
**Description**

Create buttons component, similar to what is present in vocabulary.

**Want to take up?**

[Yes]

[2020-05-28 17:04] Dishebh commented on #222
@dhruvkb please let me know if it is a valid issue, and if I can work upon it. Thanks!

[2020-05-28 19:34] dhruvkb commented on #222
Hi @Dishebh we have planned not to create components for the very simple elements (like buttons and inputs) because they are about the same effort to write as adding classes to pure HTML elements, while adding maintenance cost. You should read the [Overview document](https://cc-vocabulary.netlify.app/?path=/docs/vocabulary-overview--page#principle-2).

A large-sized primary-coloured button in HTML

[2020-05-28 19:34] #222 closed

[2020-05-30 20:18] nimishbongale opened #224 "UX improvement"
**Description**

1. It so happens that the top page tabs ("Canvas and Docs") make sense only when we click on a component from the left vertical bar. Otherwise clicking on them does nothing, apart from a dummy switch between the two.

2. The top menu bar and the left vertical column get highlighted with a thin black background on clicking on it.

**Reproduction**

Just running `npm run stoybook` o

[2020-05-30 20:28] nimishbongale opened #225 "Adding a "A background display" to the "Change size of preview feature""
**Description**
The preview feature is great, and works like a charm. I do think, however, there is a tiny scope of improvement! I've worked hard in the past on making websites responsive, and I believe it helps reach a bigger audience fairly quickly.

I would suggest adding a phone-esque background to the preview mode. Something like this:-

![load](https://user-images.githubusercontent.com/43414

[2020-05-30 21:04] dhruvkb commented on #225
As long as we're not bloating the repository with phone body images, it seems like a good idea. Looking forward to a working implementation.

[2020-05-30 21:34] dhruvkb commented on #224
@nimishbongale it seems to me that you have discovered a bug (or lack of a feature) with the tool in question, i.e. Storybook and not with Vocabulary. It seems to have a fix in an upcoming Storybook version [6.0.0-alpha.2](https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.2). We'll just have to wait for it to be released.

[2020-05-31 06:49] nimishbongale commented on #224
@dhruvkb Ahh alright.

Maybe, instead of the manual wait, we can configure a "dependabot" (owned by github) to do the needful? It creates an automated pull request to bump up dependencies ( only stable versions ).

* https://dependabot.com/

As of now, the latest released `storybook.js` version is 5.3.19. I was working with 5.3.18 from the looks of it,

Let me know if this `dependabot` configurati

[2020-05-31 06:54] nimishbongale commented on #225
Thank you @dhruvkb!
I don't think it'll bloat the repo as such.
Looking forward to working on it!

[2020-05-31 13:28] ayamba-coder opened #226 "Create locale component"
**Description**
With the Locale component having been built in Vocabulary with the markup and styling already defined, it's time to get the Vue version of the component.

The locale component is a pattern and as such has a lot of markup involved for even the very simple usecases. Having a Vue component takes a huge load off the developer.
**Want to take up?**
Yes

[2020-05-31 14:00] dhruvkb commented on #226
Although we won't be porting all components over to Vue Vocabulary, `Locale` does seem like it warrants to be ported because it needs to be integrated with [Vue i18n](https://kazupon.github.io/vue-i18n/).

[2020-05-31 14:10] dhruvkb commented on #225
Just a few pro-tips:
- use SVGs (or make it using pure CSS if you want a challenge); they tend to have much smaller file size and much better scalability
- use generalised shapes (per device category and not per individual screen size); most phones and tablets are just glass sandwiches anyways

[2020-05-31 15:15] nimishbongale commented on #225
@dhruvkb Yes, I was thinking about using SVG's!

Right, will take that into account.

Thank you!

[2020-05-31 18:30] nimishbongale commented on #225
@dhruvkb

Does this look fine?

![embed](https://user-images.githubusercontent.com/43414361/83359869-c2fef000-a39a-11ea-9fdd-fbb0f913ba93.PNG)

Its the actual "tab" component showing within the svg frame.

[2020-06-01 21:56] ayamba-coder commented on #226
@dhruvkb do i create this component thinking of Vue-i18n library only?, are there no future promises of using a different i18n lib?.Just trying to self isolate this component irrespective of the i18n being used.

[2020-06-02 10:16] dhruvkb commented on #226
@ayamba-coder there are actually not many libraries for i18n in Vue. Vue-i18n is by far the largest, most widely used of them. You can make it library-agnostic to some extent by emitting events and I'm okay with that approach as well.

[2020-06-05 19:25] nimishbongale commented on #224
@dhruvkb @kgodey

Github released some major improvements/features to dependabot. Just fyi.

* https://github.blog/2020-06-01-keep-all-your-packages-up-to-date-with-dependabot/

![depend](https://user-images.githubusercontent.com/43414361/83915200-6af82d00-a790-11ea-8e8e-51bb7d8fe034.PNG)

Thanks!

[2020-06-06 00:13] dhruvkb opened #230 "Set up Dependabot"
## Problem description
Keeping packages up to date is hard.

## Solution description
Configure Dependabot to do this for us [via a configuration file](https://help.github.com/en/github/administering-a-repository/enabling-and-disabling-version-updates#enabling-github-dependabot-version-updates).

## Additional context
- Suggested by @nimishbongale in https://github.com/creativecommons/vue-vocabular

[2020-06-06 00:14] dhruvkb commented on #224
@nimishbongale I've separated the package-update aspect of this into a separate issue at #230.

[2020-06-06 07:02] nimishbongale commented on #224
@dhruvkb Alright!

Maybe this issue can remain open until the new `storybook.js` is relased.

[2020-06-06 15:04] #225 closed

[2020-06-06 23:32] dhruvkb commented on #230
@nimishbongale you can work on it, I don't think write access is needed to work on this issue. Some issues that do need a maintainer permissions are marked 'CC staff only' (this isn't).

[2020-06-06 23:35] dhruvkb commented on #230
In addition to the `dependabot.yml` file, we will need to enable Dependabot-native from Settings. @kgodey please do that for the three repos.

[2020-06-07 18:21] nimishbongale commented on #230
Ahh alright! I thought it did.

[2020-06-07 18:22] nimishbongale commented on #230
@dhruvkb  Yeah this is what I was trying to say. My bad.

[2020-06-07 18:24] dhruvkb commented on #230
@nimishbongale since you've been focusing your attention here, I think you might not be aware that Vocabulary is our main repo and the center of attention (for now). So if you could sync the improvements (including #227) there too, that would be awesome.

[2020-06-07 18:43] nimishbongale commented on #230
@dhruvkb yep, on it! I've forked the main vocabulary repo too. Will raise an issue and send an equivalent PR for #227.

[2020-06-13 20:42] #220 closed

[2020-08-04 18:40] zackkrida opened #237 "Update docker structure to match vocabulary repo"
See implementation in: https://github.com/creativecommons/vocabulary with `/docker` directory and `run.sh` scripts.

**Edit:** Make sure we update the [dependabot config](https://github.com/creativecommons/vue-vocabulary/blob/master/.github/dependabot.yml#L8-L11) when we do this.

[2020-08-07 01:57] #230 closed

[2020-08-12 14:22] kgodey commented on #4
Closing this for now, we may reopen once we have more components.

[2020-08-12 14:22] #4 closed

[2020-08-12 14:46] kgodey commented on #224
Closing this since it's an issue with Storybook.

[2020-08-12 14:46] #224 closed

[2020-08-12 14:46] kgodey commented on #226
This component is getting redesigned.

[2020-08-21 08:26] dhruvkb commented on #237
I really like the `docker/` structure of Vocabulary and any attempt to replicate the behaviour in other repos has my total appreciation 👍.

[2020-08-26 00:46] zackkrida commented on #196
@Aakash2408 we're going to close this issue while we revisit some aspects of `vue-vocabulary`. Thank you for your interest!

[2020-08-26 00:46] #196 closed

[2020-08-26 00:46] #170 closed

[2020-08-26 00:46] #193 closed

[2020-08-26 00:46] #226 closed

[2020-08-26 00:46] #237 closed